.light-section {
    padding: 75px 0 45px;
    &_header {
        position: relative;
        text-align: center;
        margin: 0 0 50px;

        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background: #e0e2e4;
            position: absolute;
            top: 50%;
            left: 0;
        }
        h2 {
            display: inline-block;
            padding: 0 15px;
            margin: 0;
            background: $white;
            position: relative;
            font-family: $source;
            font-size: 32px;
            letter-spacing: 1px;
            line-height: 1.5;
            text-transform: uppercase;
            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
    &_footer {
        &.offset-top {
            margin-top: 45px;
        }
        &.offset-bottom {
            margin-bottom: 45px;
        }
        .lined-btn {
            position: relative;
            text-align: center;
            margin: 0 0 0;
            &:before {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background: #e0e2e4;
                position: absolute;
                top: 50%;
                left: 0;
            }
            .btn {
                font-family: $cabin;
                color: $white;
                font-size: 21px;
                position: relative;
                z-index: 2;
                border: 0;
                box-shadow: 20px 0 0 #fff, -20px 0 0 #fff;
                padding: 14px 15px;
                width: 100%;
                max-width: 220px;
                transition: all 0.2s linear;
                @include hoverBackground($green);
            }
        }
    }
    &_items {
        font-size: 0;
        text-align: center;
        margin: 0 0 30px;
        .item {
            font-size: 15px;
            display: inline-block;
            padding: 0 15px;
            margin: 0 0 30px;
            width: 100%;
            max-width: 270px;
            .icon {
                width: 140px;
                height: 141px;
                background: url("../img/items.png") no-repeat center;
                margin: 0 auto 25px;
                text-align: center;
                line-height: 140px;
                color: $green;
                font-size: 30px;
            }
            .title {
                font-family: $source;
                font-size: 21px;
                margin: 0 0 10px;
                line-height: 1.5;
                text-transform: uppercase;
            }
            .text {
                margin: 0;
                line-height: 1.6;
            }
        }
    }
    &_thumbs {
        .item {
            font-size: 15px;
            border: 1px solid #f1f1f1;
            margin: 0 0 30px;
            .video {
                height: 330px;
                width: 100%;
                overflow: hidden;
                border-bottom: 1px solid #f1f1f1;
                @media (max-width: 767px) {
                    height: 200px;
                }
                > * {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
            .body {
                padding: 30px;
                @media (max-width: 767px) {
                    padding: 15px
                }
            }
            .title {
                color: #4e5e6a;
                font-size: 21px;
                font-family: $lato;
                font-weight: bold;
                margin: 0 0 20px;
                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
            a.title {
                color: #4e5e6a;
                transition: color 0.2s linear;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
                &:hover {
                    color: darken(#4e5e6a, 10%);
                }
            }
            .text {
                margin: 0 0 25px;
                @media (max-width: 767px) {
                    font-size: 14px;
                }
                &:last-child {
                    margin: 0;
                }
            }
        }
    }
    &_title {
        font-size: 21px;
        color: #4e5e6a;
        font-family: $lato;
        font-weight: bold;
        margin: 0 0 20px;
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    &_text {
        font-size: 15px;
        margin: 0 0 20px;
        line-height: 24px;
        text-align: justify;
        @media (max-width: 767px) {
            font-size: 14px;
        }
        .upper {
            text-transform: uppercase;
        }
    }
    &_group {
        margin: 0 0 50px;
        &:after,
        &:before {
            content: '';
            display: table;
            clear: both;
        }
    }
    &_img {
        max-width: 50%;
        vertical-align: middle;
        display: inline-block;
        margin: 0 0 30px;
    }
}

.light-section{
    .cont {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        &_text {
            text-align: center;
        }
        .light-section_text {
            margin: 20px 0 20px !important;
            text-align: center !important;
            .upper{ font-size: 20px !important;color: #22baa0 !important;}
        }

    }
}
.profile-section .profile-section_white .group_social a span {
    line-height: 1.6;
    position: relative;
    top: -1px;
}
