
<!-- registration -->
<section class="registration-section">
    <div class="container">
        <header class="registration-section_header">
            <h1>fORGOT pASSWORD</h1>
        </header>
        <div class="registration-section_form">
            <form name="vm.forgotForm" novalidate>

                <base-input
                    data-model="vm.model.email"
                    data-name="email"
                    data-submitted="vm.submitted"
                    data-error="vm.errors.email"
                    data-required="true"
                    data-placeholder="Email"
                    data-label="Please enter your email address below:"
                    data-type="email"
                    ></base-input>


                <base-submit
                    form="vm.forgotForm"
                    send-function="vm.forgot(form)"
                    submitted="vm.submitted"
                    loading="vm.loading"
                    label="Restore Password"
                    data-class="btn btn-block btn-green"
                    ></base-submit>

            </form>
        </div>
    </div>
</section><!--./registration -->