<!-- registration -->
<section class="registration-section">
    <div class="container">
        <header class="registration-section_header">
            <h1>Login</h1>
        </header>
        <div class="registration-section_form">
            <form name="vm.loginForm" novalidate>
                <base-input
                    data-model="vm.model.email"
                    data-name="email"
                    data-submitted="vm.submitted"
                    data-error="vm.errors.email"
                    data-required="true"
                    data-placeholder="Email"
                    data-type="email"
                    ></base-input>
                <base-input
                    data-model="vm.model.password"
                    data-name="password"
                    data-submitted="vm.submitted"
                    data-error="vm.errors.password"
                    data-required="true"               
                    data-type="password"
                    data-placeholder="Password"
                    ></base-input>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <a data-ui-sref="root.auth.forgot">Forgot your password?</a>
                        </label>
                    </div>
                </div>
                <base-submit
                    form="vm.loginForm"
                    send-function="vm.login(form)"
                    submitted="vm.submitted"
                    loading="vm.loading"
                    label="Sign in"
                    data-class="btn btn-block btn-green"
                    ></base-submit>
                <div class="registration-section_social">
                    <p class="title">Sign up with social accounts</p>
                    <div class="items">
                        <a href="#" data-social-login data-type="linkedin" data-callback="vm.socialCallback(data)"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#" data-social-login data-type="facebook" data-callback="vm.socialCallback(data)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" data-social-login data-type="twitter" data-callback="vm.socialCallback(data)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="registration-section_text">
                    Don't have an account? <a data-ui-sref="root.auth.register" >Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</section><!--./registration -->