/*--------STYLES CONTINUE-TO-COURSE---------*/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #f7f7f7;
	position: relative;
}

.jspDrag
{
	background: #bcbcbc;
    border-radius:  20px;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}/*------------------------------------------------------------*/
.header-player {
    background: #4e5e6a;
    width: 100%;
    height: 67px;
	display: flex;
	align-items: center;
	.container {
		@media (max-width: 767px) {
			width: 100%;
		}
	}
    @media (max-width: 767px) {
            padding: 12px 0 12px 0;
    }
    &_left {
        @media (max-width: 767px) {
            width: 90%;
        }
        .block-title {
            @media(max-width: 767px) {
                width: 89%;
                text-align: center;
            }
        }
    }
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .toggle-nav {
            display: none;
            @media(max-width: 767px) {
                display: block;
            }
        }
    }
    &_button {
        border: none;
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 17px;
        cursor: pointer;
        position: relative;
        z-index: 5;
        background: url("../img/icon-nav.png") no-repeat center center;
        margin-right: 15px;
        @media (max-width: 480px ){
            margin-right: 0;
        }
    }
    .block-title {
        display: inline-block;
        vertical-align: middle;
    }
    &_title {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        color: #fff;
        font-size: 21px;
        @media (max-width: 480px) {
            font-size: 16px;
            max-width: 215px;
            text-align: center;
        }
    }
    &_buttons {
        @media (max-width: 767px) {
            position: absolute;
            width: 100%;
            top: 42px;
			z-index: 1;
            text-align: center;
            left: 0;
            background: #4e5e6a;
        }
        a {
            margin-right: 20px;
            text-decoration: none;
            padding: 10px 20px;
            font-size: 14px;
            background: #5e707e;
            border-radius: 3px;
            color: $colorGreen;
            font-weight: 600;
            display: inline-block;
            transition: 0.3s;
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: 767px) {
                margin: 28px 10px 20px 10px;
                &:last-child{
                    margin-right: auto;
                }
            }
            @media (max-width: 480px) {
                padding: 8px 10px;
            }
            &:hover {
                color: #23ccaf;
            }
        }
    }
    .toggle-nav {
        width: 30px;
        height: 26px;
        background: #fff;
        border-radius: 3px;
        border: none;
        span {
            margin: 4px 0;
            height: 2px;
            width: 18px;
            display: block;
            background: #4e5e6a;
        }
    }
    .collapse {
        display: block;
        @media(max-width: 767px) {
            display: none;
        }
    }
    &_navigation {
        width: 100%;
        max-width: 500px;
        position: fixed;
        left: -9999px;
        top: 0;
        z-index: 6;
        transition: 0.3s;
        background: #fff;
        height: 100vh;
		padding: 30px 0;
		.button-close {
	        border: none;
	        vertical-align: middle;
	        width: 24px;
	        height: 17px;
	        cursor: pointer;
			left: 30px;
			top: 30px;
	        position: absolute;;
	        z-index: 7;
	        background: url("../img/icon-nav-active.png") no-repeat center center;
	        margin-right: 15px;
			display: none;
	    }
		.button-close_active {
			display: block;
		}
        @media (max-width: 767px) {
            max-width: 300px;
        }
        .general-wrap-body {
            overflow-y: scroll;
            height: 100%;
            //padding-top: 64px !important;
            .string {
                padding: 0;
            }
        }
        .box {
            padding: 10px 20px !important;
            .sub-btn {
                background: #fff;
                position: relative;
                z-index: 5;

                a {
                    color: $colorGreen;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 16px;
                    display: block;
                    margin-left: 25px;
                }
            }
        }
    }
    &_navigation.navigation_open{
        left: 0;
    }
}
.wrapper {
    height: calc(100vh - 67px - 57px);
        video {
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
}

.footer-player {
    height: 57px;
    width: 100%;
    background: #4e5e6a;
    display: flex;
    align-items: center;
	.right {
		float: right;
	}
	.text-footer {
		display: inline-block;
		vertical-align: middle;
		color: #647a8b;
		font-size: 18px;
		margin: 0 20px 0 0;
	}
    .btn-green {
        padding: 8px 30px;
        font-size: 14px;
		@media (max-width: 480px){
			padding: 6px 20px;
		}
    }
    .container-f {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        width: 100%;

    }
    &_controls {
        display: inline-block;
        vertical-align: middle;
        width: 15%;
        a {
            display: inline-block;
            height: 25px;
            width: 25px;
            margin: 0 5px;
            @media (max-width: 767px) {
                background-size: 100% !important;
                width: 20px;
            }
        }
        .prev {
            background: url("../img/prev-icon2.png") no-repeat center center;
        }
        .play {
            background: url("../img/play.png") no-repeat center center;
        }
        .next {
            background: url("../img/icon-next2.png") no-repeat center center;
        }
    }
    &_string {
        display: inline-block;
        height: 10px;
        background: #46545f;
        border-radius: 10px;
        width: 59%;
        position: relative;
        .load-video {
            position: absolute;
            left: 0;
            top: 0px;
            border-radius: 10px;
            height: 10px;
            background: #5e707e;
        }
        .playback {
            position: absolute;
            left: 0;
            top: 0px;
            border-radius: 10px;
            height: 10px;
            background: $colorGreen;
            .allips {
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                background: $colorGreen;
                border-radius: 50%;
                box-shadow: 0 0 0 5px  #46545f;
                width: 10px;
                height: 10px;
            }
        }
    }
    &_times {
        display: inline-block;
        width: 10%;
        text-align: center;
        span {
            display: inline-block;
            color: #fff;
            font-size: 16px;
        }
    }
    &_buttons-player {
        width: 15%;
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        > a {
            margin-left: 15px;
        }
        .volume {
            width: 30px;
            height: 21px;
            position: relative;
            vertical-align: middle;
            display: inline-block;
            .volume-controls {
                width: 44px;
                height: 154px;
                position: absolute;
                bottom: 68px;
                left: -8px;
                justify-content: center;
                background: #4e5e6a;
                display: flex;
                align-items: center;
                border-radius: 3px;
                &:after {
                    position: absolute;
                    bottom: -14px;
                    content: "";
                    left: 50%;
                    margin-left: -5px;
                    width: 15px;
                    height: 15px;
                    background: url("../img/arrow-b.png") no-repeat center center;
                }
                .string-f {
                    display: inline-block;
                    width: 10px;
                    background: #5e707e;
                    position: relative;
                    border-radius: 10px;
                    height: 115px;
                    .playback-volume {
                        width: 10px;
                        border-radius: 10px;
                        left: 0;
                        bottom: 0;
                        background: $colorGreen;
                        position: absolute;
                         .icon {
                             cursor: pointer;
                             position: absolute;
                             right: 0;
                             top: 0;
                             background: $colorGreen;
                             border-radius: 50%;
                             box-shadow: 0 0 0 5px  #46545f;
                             width: 10px;
                             height: 10px;
                         }
                    }
                }
            }
            .icon-volume{
                width: 29px;
                height: 21px;
                background: url("../img/Volume-icon.png") no-repeat center center;
                display: inline-block;
                @media (max-width: 767px){
                    width: 20px;
                    background-size: 100%;
                }
            }
        }
        .hd {
            width: 38px;
            height: 21px;
            display:  inline-block;
            vertical-align: middle;
            background: url("../img/HD-icon.png") no-repeat center center;
            @media (max-width: 767px) {
                width: 25px;
                height: 25px;
                background-size: 100%;
            }
        }
        .fullscreen-icon {
            width: 23px;
            height: 21px;
            display:  inline-block;
            vertical-align: middle;
            background: url("../img/Fullscreenicon.png") no-repeat center center;
            @media (max-width: 767px ) {
                width: 15px;
                height: 18px;
                background-size: 100%;
            }
        }
    }
}
/*--------END STYLES CONTINUE-TO-COURSE---------*/


/*---------STYLE COMPLETED-----------------*/

.section-completed {
    height: calc(100vh - 67px - 57px);
    padding: 5% 0;
    h1 {
        color: $colorGreen;
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: 480px) {
            font-size: 28px;
        }
    }
    &_buttons-center {
        text-align: center;
        padding: 15px 0;
        a {
            color: #4e5e6a;
            font-size: 18px;
            padding: 5px 20px;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            @media (max-width: 480px) {
                margin: 0;
            }
        }
        .icon-close {
            border-right: 1px solid #cacaca;
            margin-right: 20px;
            padding-left: 30px;
            @media (max-width: 480px) {
                margin-right: 0;
                border-right: none;
            }
            &:after {
                color: #ff809b;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 4px;
                content: "\F00D";
                display: inline-block;
                font: normal normal normal 26px/1 FontAwesome;
            }
        }
        .icon-check {
            padding-left: 35px;
            &:after {
                color: $colorGreen;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 4px;
                content: "\f00c";
                display: inline-block;
                font: normal normal normal 26px/1 FontAwesome;
            }
        }
    }
    &_text {
        max-width: 570px;
        margin: 0 auto;
        padding: 3% 0;
         p {
             text-align: center;
             font-size: 16px;
             color: #4e5e6a;
         }
    }
    &_content {
        padding: 3% 0;
        text-align: center;
        p {
            font-size: 16px;
            color: #4e5e6a;
            font-weight: bold;
        }
        .btn-green {
            padding: 10px 15px;
            font-size: 16px;
        }
    }

}
