
.section-startquiz {
    height: calc(100vh - 67px - 57px);
    padding: 5% 0;
    &_title {
        text-align: center;
        margin-bottom: 20px;
        h1 {
            color: #4e5e6a;
            font-size: 36px;
            display: inline-block;
            border-bottom: 1px dotted #d5d5d5;
            text-transform:  uppercase;
            padding: 0 50px 10px 50px;
        }
        .allips {
            width: 41px;
            height: 41px;
            border: 1px solid #4e5e6a;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 21px;
            margin: 0 auto;
        }
        .sub-title {
            font-size: 16px;
            color: #4e5e6a;
        }
    }
    &_content {
        max-width: 570px;
        margin: 0 auto 3% auto;
        text-align: center;
        p {
            font-size: 16px;
            color: #4e5e6a;
        }
    }
    &_buttons{
        text-align: center;
        .play{
            padding: 12px 70px 13px 20px;
            font-size: 16px;
            position: relative;
            margin-bottom: 10px;
            &:after {
                width: 47px;
                height: 47px;
                position: absolute;
                right: 0;
                top: 0;
                content: "\f04b";
                font: normal normal normal 16px/1 FontAwesome;
                display: flex;
                align-items: center;
                border-left: 1px solid #26a58f;
                color: #26a58f;
                justify-content: center;

            }
        }
        .skip {
            color: $colorGreen;
            font-size: 16px;
        }
    }
}
/*---------------------  START STYLE courserooms-startQuiz-step1 ---------------------------*/

    .section-step {
        padding: 4% 15px;
        max-width: 767px;
        margin: 0 auto;
        height: calc(100vh - 67px - 57px);
        @media (max-width: 767px) {
            height: auto;
        }
        h1 {
            color: #4e5e6a;
            font-size: 21px;
            line-height: 1.4;
            margin-bottom: 8%;
            @media (max-width: 767px) {
                font-size: 18px;
                text-align: center;
            }
        }
        .step-string {
            margin-bottom: 10px;
            border: 1px solid #f1f1f1;
            border-radius: 3px;
            background: #fff;
            display: table;
            .left {
                display: table-cell;;
                justify-content: center;
                vertical-align: middle;
                border-right: 1px solid #f1f1f1;
                width: 63px;
                text-align: center;
                @media (max-width: 480px) {
                    padding: 0 20px;
                }
                .radio-btn {
                    position: relative;;
                    display: inline-block;
                    input[type="radio"]{
                        display: none;
                    }
                    input[type="radio"] +  label {
                        margin: 0;
                    }
                    input[type="radio"] + label  span {
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        border: 1px solid #d3d9d7;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                    input[type="radio"]:checked + label span {
                        background: #22baa0;
                    }
                    input[type="radio"]:checked + label span i{
                        background: #fff;
                        width: 6px;
                        height: 6px;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }
                .fa-times {
                    font-size: 26px;
                    color: #ff809b;
                    cursor: pointer;
                }
            }
            .text {
                padding: 11px 20px;
                display: table-cell;
                vertical-align: middle;
                width: 90%;
                p {
                    font-size: 16px;
                    margin: 0;
                    color: #4e5e6a;
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .step-string.active-red {
            border-color: #ff809b;
        }
        .step-string.active-check {
            border-color: #22baa0;
            i {
                color: #22baa0;
                font-size: 26px;
            }
        }
    }

/*---------------------  END STYLE courserooms-startQuiz-step1 ---------------------------*/


/*---------------------  START STYLE courserooms-startQuiz-step2 ---------------------------*/

    .footer-player {
        .left-text {
            float: left;
            margin: 0 15px 0 0;
            font-size: 16px;
            color: #22baa0;
        }
        .line {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

/*---------------------  END STYLE courserooms-startQuiz-step2 ---------------------------*/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    background: rgba(146,155,162,0.4);
    display: none;
}
.overlay.over-active {
    display: block;
}
