

/***********INSTRUCTOR PROFILE STYLE**************/


.head-profile {
    background: #4e5e6a;
    height: 245px;
}
.wrap-profile {
    margin: -140px auto 35px auto;
    max-width: 1140px;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 5px 5px 0 0;
    @media( max-width: 992px ){
        margin: -140px 15px 35px 15px;
    }
    .profile-head {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
        @media (max-width: 991px){
            display: block;
        }
        .block-info{
            padding: 20px 0;
            width: 40%;
            border-right: 1px solid #eaeaea;
            @media (max-width: 991px){
                width: 100%;
                border-right: none;
            }
            &_avatar {
                display: inline-block;
                vertical-align: middle;
                max-width: 128px;
                img {
                    border-radius: 50%;
                    max-width: 100%;
                }
            }
            &_info {
                display: inline-block;
                vertical-align: middle;
                padding-left: 40px;
                width: 60%;
                .name {
                    color: #4e5e6a;
                    font-size: 36px;
                    margin: 0 0 10px 0;
                    line-height: 1em;
                }
                .sub-text {
                    font-size: 16px;
                    color: #69696e;
                }
                .btn {
                    color: #fff;
                    font-size: 14px;
                    background: #22baa0;
                    border-radius: 3px;
                    padding: 3px 5px;
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover {
                        background: #24ccaf;
                    }
                }
            }
        }
        .profile-row {
            width: 60%;
            @media (max-width: 991px){
                width: 100%;
            }
            .box {
                display: inline-table;
                text-align: center;
                width: 33%;
                height: 100%;
                border-right: 1px solid #eaeaea;
                @media (max-width: 767px) {
                    width: 100%;
                    border-right: none;
                }
                &:last-child {border:none;}
                .item-box {
                    display: table-cell;
                    vertical-align: middle;
                }
                .img {
                    display: inline-block;
                    max-width: 50px;
                    margin-bottom: 8px;
                    img{
                        max-width: 100%;
                    }
                }
                p {
                    font-size: 16px;
                    color: #494949;
                    span {
                        font-weight: bold;
                        display: inline-block;
                    }
                }
            }
        }
        .row {
            &.vcenter {
                font-size: 0;
                > [class^="col"] {
                    font-size: 14px;
                    float: none;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
    .profile-content {
        padding: 20px 100px 30px 100px;
        @media (max-width: 992px) {
            padding: 5px 15px 30px 15px;
        }
        p {
            color: #4e5e6a;
            font-size: 16px;
            margin: 35px 0;
        }
    }
}
.uploaded {
    h2 {
        color: #4e5e6a;
        font-size: 24px;
        margin: 0 0 15px 0;
        @media( max-width: 992px ){
            text-align: center;
        }
    }
}
