/*  STYLES MESSAGES  */

.wrap-message {
    max-width: 970px;
    margin: 60px auto 0 auto;
    h1 {
        font-size: 30px;
        color: #494949;
        margin: 0 0 15px 0;
        @media (max-width: 992px) {
            text-align: center;
        }
        span{
            display: inline-block;
            margin-left: 5px;
            font-size: 14px;
            color: #fff;
            background: #22baa0;
            border-radius: 50%;
            padding: 5px;
            width: 26px;
            height: 26px;
            text-align: center;
            vertical-align: middle;
        }
    }
}
.content{
    background: #fff;
    @media (max-width: 992px) {
        margin: 0 15px;
    }
    .content-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        border-bottom: 1px solid #edf0e9;
        &_avatar {
            .img {
                display: inline-block;
                vertical-align: middle;
                max-width: 123px;
                img {
                    border-radius: 50%;
                    max-width: 100px;
                }
            }
            .name {
                display: inline-block;
                vertical-align: middle;
                color: #4e5e6a;
                font-size: 16px;
                font-weight: bold;
                margin: 0;
                padding-left: 15px;
            }

        }
        &_title {
            color: #c9cdd0;
            font-size: 14px;
            margin: 0;
        }
        &_pagination{
               display: inline-block;
               vertical-align: middle;
               a{
                   display: inline-block;
                   vertical-align: middle;
                   width: 30px;
                   height: 30px;
                   margin-right: 5px;
                   border-radius: 3px;
                   border: 1px solid #8cd8cb;
                   text-align: center;
                   transition: 0.3s;
                   &:hover{
                    background: #effbf9;
                }
                .icon-prev{
                    background: url("../img/icon-prev.png");
                    width: 18px;
                    height: 13px;
                    display: inline-block;
                    margin-top: 8px;
                   }
                .icon-next{
                    background: url("../img/icon-next.png");
                    width: 18px;
                    margin-top: 8px;
                    height: 13px;
                    display: inline-block;
                }
            }
        }
    }
/*  STYLE MESSAGE  */
    .form-message{
        padding: 30px 4%;
        .form-group {
            input[type="text"] {
                border-radius: 3px;
                outline: none;
                border: 1px solid #d2d8d6;
                color: #c5c9cc;
                font-size: 16px;
                padding: 5px 15px;
                max-width: 400px;
                width: 100%;
                margin-bottom: 20px;
                &:focus {
                    border-color: #22baa0;
                }
            }
            input[type="text"]::-webkit-input-placeholder {
                color: #c5c9cc;
                opacity: 1;
            }
            input[type="text"]:-moz-placeholder {
                color: #c5c9cc;
                opacity: 1;
            }
            textarea {
                border-radius: 3px;
                outline: none;
                border: 1px solid #d2d8d6;
                color: #c5c9cc;
                font-size: 16px;
                padding: 5px 15px;
                resize: vertical;
                height: 188px;
                width: 100%;
                &:focus {
                    border-color: #22baa0;
                }
            }
            textarea:-moz-placeholder {
                color: #c5c9cc;
                opacity: 1;
            }
            textarea::-webkit-input-placeholder {
                color: #c5c9cc;
                opacity: 1;
            }
        }
        input[type="submit"] {
            background: #22baa0;
            color: #fff;
            outline: none;
            border: none;
            float: right;
            padding: 5px 35px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: bold;
            &:hover {
                background: #23d6b7;
            }
        }
    }
/* ./STYLE MESSAGE  */

    .block-users {
        padding: 15px;
        position: relative;
        border-bottom: 1px solid #fcfcfc;
        .row {
            > [class^="col"] {
                display: inline-block;
                float: none;
                vertical-align: middle;
            }
        }
        &_avatar {
            margin: 0 auto;
            max-width: 40px;
            img {
                max-width: 100%;
                border-radius: 50%;
            }
        }
            .name {
                font-size: 16px;
                color: #4e5e6a;
                margin: 0;
                cursor: pointer;
            }
            .name.active {
                font-weight: bold;
            }
            .sub-text {
                font-size: 12px;
                color: #aaaaaa;
                margin: 0;
            }

        .text {
            cursor: pointer;
            font-size: 14px;
            color: #4e5e6a;
            margin: 0;
        }
        .text.active {
            font-weight: bold;
        }
        .close-user {
            display: none;
            position: absolute;
            top: 2px;
            right: 5px;
            color: #22baa0;
            font-size: 16px;
        }
        .close-user.active { display: block;}
        .padd {
            padding: 0;
            width: 148px;
        }
    }
}

/* ./ STYLES MESSAGES  */


/*   STYLES MESSAGES   */
.btn-back {
    color: #22baa0;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    transition: 0.3s;
    text-decoration: none;
    @media ( max-width: 992px) {
        margin-left: 15px;
    }
    &:hover {
        color: #27d6b8;
    }
    &:after {
        position: absolute;
        font: normal normal normal 14px/1 FontAwesome;
        width: 20px;
        height: 10px;
        content: "\f177";
        left: 0;
        top: 5px;
    }
}
/* ./  STYLES MESSAGES   */
/*************************/
/*************************/

/*STYLES MESSAGE STUDENT*/


.content {
    .content-student {
        border-bottom: 1px solid #edf0e9;
        padding: 23px 7%;
        p {
            font-size: 14px;
            color: #4e5e6a;
        }
    }
    .btn-green {
        margin: 15px 20px 20px 0;
        float: right;
    }
}
