
.section-content{
    padding-top: 70px;
    background: #f7f7f7;
    .section-head {
        padding: 35px 0 90px 0;
        background: #4e5e6a;
        @media (max-width: 1200px){
            margin-right: 0;
        }
        &_video{
            .images{
                display: inline-block;
                position: relative;
            }
            img{max-width: 100%;    border-radius: 5px;}
            .play{
                cursor: pointer;
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 50;
                .icon-play{
                    width: 46px;
                    display: inline-block;
                    margin: -22px 0 0 -19px;
                    height: 46px;
                    background: url("../img/icon-play.png") no-repeat center center;
                }
            }
        }

            h1{
                margin: 0;
                font-size: 28px;
                color: #fff;
                margin-bottom: 30px;
            }
            .block-btn{
                margin-bottom: 11px;
                .btn{
                    padding: 0;
                    color: #fff;
                    background: #22baa0;
                    border-radius: 4px;
                    display: inline-block;
                    font-size: 18px;
                    padding: 17px 15px;
                    transition: all 0.3s;
                    &:hover{
                        background: #29c7ac;
                    }
                }
                .btn-caret{
                    position: relative;
                    padding-right: 75px;
                    &:after{
                        width: 60px;
                        height: 60px;
                        content: "\25BA";
                        color: #26a58f;
                        border-left: 1px solid #26a58f;
                        right: 0;
                        top: 0;
                        position: absolute;
                        padding-top: 7px;
                        font-size: 30px;
                    }
                }
                /*.icon{
                    border-left: 1px solid #26a58f;
                    width: 60px;
                    height: 60px;
                    i{
                    }
                }*/
            }

            .rating-item {
                border-radius: 5px;
                border: 1px solid #838f97;
                padding: 12px 35px;
                width: 260px;
                .title-rating{
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0;
                }
                .number {
                    margin-right: 24px;
                    font-size: 54px;
                    color: #fff;
                    display:  inline-block;
                    }
                    .rating-number {
                        text-align: left;
                        display: inline-block;
                        .rating {
                        display: inline-block;
                        a{
                            cursor: pointer;
                            color: #dfdfdf;
                            &:hover{
                                color: #ffee2e;
                            }
                        }
                        a.active {
                            color: #ffee2e;
                        }
                    }
                    .text-rating {
                        color: #fff;
                        font-size: 16px;
                    }
                }
            }

        &_progress{
            .title{
                font-size: 13px;
                color: #fff;
                margin: 0 0  13px 0;
                font-weight: bold;
            }
            .progress-item{
                background: #46545f;
                border-radius: 5px;
                height: 9px;
                width: 100%;
                position: relative;
                .line-progress{
                    background: #22baa0;
                    height: 9px;
                    left: 0;
                    top: 0;
                    width: 10%;
                    border-radius: 5px;
                }
                .item-passive{
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    background: #46545f;
                    box-shadow: 0 0 0 2px #4e5e6a;
                    border-radius: 50%;
                    top: -6px;
                    left: 0;
                    .allips{
                        background: #ff809b;
                        width: 12px;
                        display: inline-block;
                        position: absolute;
                        left: 5px;
                        top: 5px;
                        border-radius: 50%;
                        height: 12px;
                    }
                    .allips.active{
                        &:after{
                            position: absolute;
                            font: normal normal normal 14px/1 FontAwesome;
                            display: inline-block;
                            color: #22baa0;
                            content: "\f00c";
                            background: #4b5561;
                            left: -1px;
                            top: -1px;
                        }
                    }
                }
            }
        }
    }
    .section-center{
        margin: -60px auto 0 auto;
        max-width: 1140px;
        background: #fff;
        border: 1px solid #f1f1f1;
        border-radius: 5px 5px 0 0;
        &_head{
        /*    padding: 20px 0;*/
            text-align: center;
            border-bottom: 1px solid #f1f1f1;
            .box{
                border-right: 1px solid #f1f1f1;
                padding: 17px 0;
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: #4e5e6a;
                    font-size: 18px;
                    transition: 0.3s;
                    &:hover{
                        color: #3dbfa7;
                    }
                }
                .active{color: #62c8b4;}
            }
            .border-none{
                border:none;
            }
        }
        .general-wrap-body{
            .string {
                padding: 35px 0 0 0;
                position: relative;
                .box{
                    padding: 30px 90px;
                    border-bottom: 1px solid #f1f1f1;
                }

                &_section {
                    position: relative;
                    margin-top: 20px;
                    &:before {
                        content: '';
                    display: block;
                    width: 1px;
                    height: calc(100% - 20px);
                    left: 4px;
                    position: absolute;
                    top: 10px;
                    background: #ebebeb;
                    }
                }
                &_title-string {
                    color: #4e5e6a;
                    padding-left: 20px;
                    font-size: 18px;
                    margin-bottom: 4px;
                    display: inline-block;
                    span{
                        font-size: 13px;
                        display: inline-block;
                        color: #818181;
                    }
                    &:before{
                        width: 20px;
                        height: 20px;
                        background: #ff809b;
                        content: "";
                        position: absolute;
                        left: -5px;
                        color: #fff;
                        border-radius: 50%;
                        padding: 3px 0 0 3px;
                        font-size: 14px;
                    }
                }
                &_title-string.active-string{
                    &:before{
                        background: #22baa0;
                        font: normal normal normal 14px/1 FontAwesome;
                        content: "\f00c";
                    }
                }
                &_item {

                }
                &_head {
                    position: relative;
                    padding: 0 134px 0 20px;
                    font-size: 15px;
                    line-height: 1.6;
                    margin: 10px 0 5px 0;
                    &:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #ffe0e7;
                        position: absolute;
                        display: block;
                        left: 0;
                        top: calc(50% - 5px);
                        box-shadow: 0 0px 0 2px #fff;
                    }
                    &:after {
                        content: '';
                        display: block;
                        height: 1px;
                        width: calc(100% - 90px);
                        border-bottom: 1px dotted #818181;
                        position: absolute;
                        left: 20px;
                        bottom: 2px;
                    }
                    .title {
                        background: #fff;
                        display: inline-block;
                        position: relative;
                        z-index: 2;
                        cursor: pointer;
                        padding-right: 10px;
                        color: #818181;
                        span{
                            display: block;
                            a{
                                display: inline-block;
                                color: #22baa0;
                                font-size: 15px;
                                border-bottom: 1px dotted #22baa0;
                                text-decoration: none;
                                &:hover{
                                    background: #1f9e89;
                                }
                            }
                        }
                        .icon-down {
                            background: url("../img/carret-down.png") no-repeat center center;
                            width: 8px;
                            height: 5px;
                            vertical-align: middle;
                            display: inline-block;
                            margin-left: 5px;
                        }
                        .icon-down.open-body{
                            transform: rotate(-180deg);
                        }
                    }
                    .active {
                        color: #22baa0;
                    }
                    .time {
                        position: absolute;
                        top: 4px;
                        right: 0;
                        color: #818181;
                        font-size: 14px;
                        background: #fff;
                        z-index: 100;
                        .icon-play {
                            display: inline-block;
                            border-radius: 3px;
                            margin-left: 15px;
                            border: 1px solid #ff809b;
                            padding: 0 14px;
                            i{
                                color: #ff809b;
                            }
                        }
                        .icon-play.active{
                            border-color: #22baa0;
                            i{
                                color: #22baa0;
                            }
                        }
                    }
                }
                &_head.active {
                    &:before {
                        background: #c8e9e2;
                    }
                }
                &_body {
                    p {
                        color: #818181;
                    }
                    .block-btn {
                        padding-right: 20px;
                        margin-right: 10px;
                        display: inline-block;
                        position: relative;
                        .button {
                            font-size: 15px;
                            color: #22baa0;
                            display: inline-block;
                            text-decoration: none;
                            border-bottom: 1px dotted #22baa0;
                        }
                        &:after {
                            height: 14px;
                            width: 1px;
                            background: #d5d5d5;
                            content: "";
                            right: 0;
                            top: 5px;
                            position: absolute;
                        }
                    }
                    .sub-text {
                        display: inline-block;
                        font-size: 13px;
                        color: #4e5e6a;
                        padding-right: 10px;
                        margin-right: 10px;
                        position: relative;
                        &:after{
                            height: 14px;
                            width: 1px;
                            background: #d5d5d5;
                            content: "";
                            right: 0;
                            top: 3px;
                            position: absolute;
                        }
                    }
                    .vs {
                        display: inline-block;
                        font-size: 13px;
                        color: #4e5e6a;
                        .green {
                            color: #22baa0;
                        }
                        .red {
                            color: #ff607a;
                        }
                    }
                }
            }
        }
        .sub-btn {
            display: block;
            a {
                display: inline-block;
                color: #22baa0;
                font-size: 15px;
                border-bottom: 1px dotted #22baa0;
                text-decoration: none;
                margin-left: 25px;
            }
        }
    }
}
/*------TAB-OVERVIEW------*/
.tab-overview {
    padding: 35px  90px;
    h2{
        color: #4e5e6a;
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 13px 0;
    }
    .tags {
        a{
            font-size: 14px;
            border-radius: 3px;
            border: 1px solid #d3d7da;
            padding: 4px 12px;
            display: inline-block;
            text-decoration: none;
            margin-right: 10px;
            color: #76828b;
            span{
                display: inline-block;
                color: #232329;
            }
        }
    }
    .tags-right {
        clear: both;
        text-align: right;
        a{
            font-size: 14px;
            border-radius: 3px;
            border: 1px solid #d3d7da;
            padding: 4px 12px;
            display: inline-block;
            text-decoration: none;
            margin: 0 10px 10px 0;
            color: #4e5e6a;
            span {
                display: inline-block;
                color: #232329;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .btn-languages {
        display: inline-block;
        padding: 3px 13px 3px 40px;
        position: relative;
        text-decoration: none;
        font-size: 14px;
        color: #22baa0;
        margin-bottom: 13px;
        border-radius: 3px;
        transition: all 0.3s;
        border: 1px solid #22baa0;
        &:hover {
            color: #0d826e;
        }
        &:after {
            position: absolute;
            width: 30px;
            height: 26px;
            content: "\f013";
            font: normal normal normal 18px/1 FontAwesome;
            left: 0;
            top: 0;
            padding: 4px 0 0 7px;
            border-right: 1px solid #22baa0;
        }
        span{
            color: #8c959d;
            display: inline-block;
        }
    }

    &_section {
        padding: 25px 90px;
        border-bottom: 1px solid #ebebeb;
        .text {
            font-size: 16px;
            color: #4e5e6a;
            line-height: 1.6;
        }
        h2 {
            color: #4e5e6a;
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 23px 0;
        }
        .section-author {
            position: relative;
            background: #f7f7f7;
            padding: 30px 0;
            .avatar-author {
                position: absolute;
                left: 4%;
                top: 10%;
                max-width: 191px;
                img {
                    max-width: 100%;
                    border-radius: 50%;
                    border: 8px solid #ebebeb;

                }
            }
            .section-top-author {
                padding-right: 30px;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 20px;
                .block-info {
                    padding-left: 260px;
                    .name {
                        font-size: 21px;
                        color: #4e5e6a;
                        font-weight: bold;
                        margin: 0;
                    }
                    .sub-text {
                        margin: 0;
                        font-size: 16px;
                        color: #4e5e6a;
                    }
                }
                .thumb_social {
                    display: flex;
                    align-items: center;
                    a {
                        color: #fff;
                        font-size: 23px;
                        margin-right: 10px;
                        padding: 8px;
                        width: 37px;
                        height: 37px;
                            padding: 6px 0 0 0px;
                        border-radius: 50%;
                    }
                    .in {
                        background: #0177b5;
                        &:hover {
                            background: #0691da;
                        }

                    }
                    .fb {
                        background: #275caa;
                        &:hover {
                            background: #246ad0;
                        }
                    }
                    .tw {
                        background: #32ccfe;
                        &:hover {
                            background: #37a9ce;
                        }
                    }
                }
            }
            .section-content {
                padding: 20px  30px 0 260px;
                p {
                    color: #4e5e6a;
                }
            }
        }
    }
    &_section.bord { border:none; }

}

.bottom-btn{
    color: #22baa0;
    font-size: 18px;
    text-decoration: none !important;
    display: inline-block;
    margin: 18px 0 18px 95px;
}

/*./styleOVERVIES*/


/*---REVIEWS--*/
.wrap-reviews {
    padding: 0 90px;
    &_title {
        padding: 28px 0 20px 0;

        h1 {
            font-size: 24px;
            color: #4e5e6a;
            margin: 0;
            font-weight: bold;
            span {
                display: inline-block;
                color: #d4d4d4;
            }
        }
        .right-btn{
            color: #fff;
            a {font-weight: bold;
                font-size: 14px;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                border-radius: 3px;
                padding: 8px 25px;
                transition: all 0.3s;
                text-decoration: none;
                background: #22baa0;
                &:hover {
                    background: #14c1a4;
                }
            }
        }
    }
}
.border-reviews { border-left: 0 !important;border-right: 0 !important;}


/*------------END REVIEWS STYLE----------------*/




/*-----------------STYLE LEAVE-REVIEWS-----------------------------*/
.wrap-reviews {
    &_leave {
        background: #f7f7f7;
        padding: 20px 30px 35px 30px;

        h2 {
            font-size: 21px;
            color: #4e5e6a;
            font-weight: bold;
            margin: 0 0 10px 0;
        }
        .info-user {
            margin-bottom: 10px;
            .img {
                max-width: 56px;
                display: inline-block;
                vertical-align: middle;
                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
            }
            .section-name {
                display: inline-block;
                vertical-align: middle;
                .name {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 18px;
                    color: #6d7982;
                    padding-left: 10px;
                }
                .rating-number {
                    padding: 0 0 0 10px;
                    .rating {
                        display: inline-block;
                        vertical-align: middle;
                        a {
                            color: #d7d7d7;
                            &:hover{
                                color: #ffd02e;
                            }
                        }
                    }
                    .text-rating {
                        display: inline-block;
                        padding-left: 15px;
                        font-size: 16px;
                        color: #c5c9cc;
                        margin: 0;
                        vertical-align: middle;
                    }
                }
            }
        }
        .form {
            textarea {
                font-size: 16px;
                color: #c5c9cc;
                border-radius: 3px;
                border: 1px solid #d2d8d6;
                padding: 15px;
                resize: vertical;
                width: 100%;
                min-height: 87px;
                transition: 0.3s;
                &:focus{
                    border-color: #22baa0;
                }
            }
            textarea::-webkit-input-placeholder {
                opacity: 1;
                color: #c5c9cc;
            }
            textarea::-moz-placeholder {
                opacity: 1;
                color: #c5c9cc;
            }
            .section-buttons {
                text-align: right;
                padding-bottom: 10px;
                .cancel {
                    display: inline-block;
                    color: #22baa0;
                    text-decoration: none;
                    margin-right: 25px;
                    font-size: 16px;
                }
                input[type="submit"] {
                    font-size: 16px;
                    color: #fff;
                    background: #22baa0;
                    border-radius: 3px;
                    transition: 0.3s;
                    padding: 8px 25px;
                    border:none;
                    outline: none;
                    &:hover{
                        background: #23ccaf;
                    }
                }
            }
        }
    }
}
.border-addreviews{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 27px;
}





/*-----------------END STYLE LEAVE-REVIEWS-----------------------------*/
