/* STYLE PURCHASE-HISTORY */

.section-history {
    .table-block {
        background: #fff;
        margin: 30px 0 0 0;
        .row {
            margin: 0;
        }
    }
    h1 {
        text-transform: uppercase;
        text-align: center;
        color: #494949;
        font-size: 30px;
    }
    .left-title {
        text-align: left;
    }
    &_head {
        border-bottom: 1px dotted #c5c9cc;
        padding: 10px 0;
        @media (max-width: 767px) {
            display: none;
        }
        .title {
            text-align: left;
        }
        p{
            font-size: 16px;
            color: #c5c9cc;
            text-align: center;
            margin: 0;
        }
    }
    &_string {
        padding: 15px 0;
        border-bottom: 1px  dotted #d5d5d5;
        display: flex;
        align-items: center;
        &:last-child {
            border-bottom: none;
        }
        @media (max-width: 767px) {
            display: block;
            [class^="col"] {
                margin-bottom: 10px;
            }
        }

        .title-string {
            font-size: 18px;
            color: #3fc3ac;
            font-weight: bold;
            margin: 0;
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        .text {
            font-size: 18px;
            color: #4e5e6a;
            margin: 0;
            text-align: center;
            font-weight: bold;
        }
        .icon {
            width: 20px;
            margin: 0 auto;
            display: block;
            .icon-file {
                background: url("web/img/icon-file.png");
                width: 20px;
                height: 28px;
                display: inline-block;
            }
        }
    }
    .result {
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px  dotted #d5d5d5;
        .date {
            font-size: 13px;
            color: #4e5e6a;
            margin: 0;
            font-weight: bold;
        }
        .total {
            font-size: 18px;
            padding-left: 10px;
            margin: 0;
            span {
                margin-right: 10px;
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}

/* ./STYLE PURCHASE-HISTORY */


/* STYLES THANKS PAGE*/

    .title-thank {
        font-weight: bold;
        margin-top: 17%;
        color: #4e5e6a;
        @media (max-width: 480px ) {
            font-size: 18px !important;
        }
    }
    .sub-title-thank {
        font-size: 18px;
        color: #4e5e6a;
        text-align: center;
    }
    .btn-wrap {
        text-align: center;
        .sub-btn {
            padding: 8px 24px;
        }
    }

/* ./STYLES THANKS PAGE*/




/* STYLES RevenueHistory */

.section-form {
    padding: 30px 0;
    border-bottom: 1px solid #d2d8d6;
    .text-form {
        display: inline-block;
        vertical-align: middle;
        p {
            font-size: 18px;
            color: #4e5e6a;
            margin: 0;
        }
    }
    .form {
        display: inline-block;
        vertical-align: middle;
        input[type="text"] {
            min-width: 270px;
            padding: 7px 15px;
            margin-left: 23px;
            border-radius: 3px;
            border: 1px solid #d2d8d6;
        }
        input[type="submit"] {
            padding: 7px 15px;
            background: #22baa0;
            color: #fff;
            border-radius: 3px;
            margin-left: 15px;
            border: none;
            font-size: 16px;
            transition: 0.3s;
            &:hover {
                background: #22caad;
            }
        }
    }
    .block-mail {
        display: inline-block;
        vertical-align: middle;
        padding: 0 0 0 15px;
        border-radius: 3px;
        border: 1px solid #d2d8d6;
        min-width: 270px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-weight: bold;
            display: inline-block;
            margin: 0 15px 0 0;
        }
        i {
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            border-left: 1px solid #d2d8d6;
        }
    }
}
@media (max-width: 767px) {
    .section-form > div {
        width: 100%;
        margin: 10px 0;
    }
    .section-form {
        text-align: center;
    }
    .section-form .form input[type="text"] {
        min-width: 208px;
        margin-left: 0;
    }
}

/*  END STYLES RevenueHistory */
