.registration-section {
    background: #f7f7f7;
    padding: 140px 0 65px;
    @media (max-width: 767px) {
        padding: 110px 0 65px;
    }
    @media (min-width: 1279px) {
        min-height: calc(100vh - 70px);
    }
    &_text {
        font-size: 14px;
        text-align: center;
        a {
            color: $green;
        }
    }
    &_header {
        margin: 0 0 60px;
        h1 {
            margin: 0;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 30px;
            text-align: center;
        }
        &.green {
            margin: 0 0 15px;
            h1 {
                font-family: $cabin;
                color: $green;
                font-weight: bold;
            }
        }
        &.black {
            margin: 0 0 15px;
            h1 {
                font-family: $cabin;
                font-weight: bold;
            }
        }
    }
    &_message {
        text-align: center;
        line-height: 1.8;
        font-size: 18px;
        max-width: 700px;
        margin: 0 auto;
        a {
            color: $green;
        }
    }
    &_form {
        width: 100%;
        max-width: 345px;
        margin: 0 auto;
        .role-btn {
            width: 100%;
            input {
                display: none;
                &:checked ~ .role-btn_btn {
                    border-color: $green;
                    i {
                        display: inline;
                    }
                }
            }
        }
        .role-btn_btn {
            width: 100%;
            text-align: center;
            font-family: $cabin;
            text-align: center;
            border: 1px solid $white;
            margin: 0 0 15px;
            font-weight: normal;
            background: $white;
            padding: 6px 11px;
            border-radius: 4px;
            color: $green;
            cursor: pointer;
            transition: border-color 0.2s linear;
            &:hover {
                border-color: $green;
            }
            i {
                margin: 0 0 0 10px;
                display: none;
            }
        }
    }
    .btn-green {
        font-size: 16px;
    }
    &_social {
        margin: 0 0 35px;
        .title {
            font-size: 14px;
            color: #818181;
            text-align: center;
            margin: 0 0 10px;
        }
        .items {
            text-align: center;
            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 48px;
                border: 1px solid $green;
                color: $green;
                border-radius: 50%;
                margin: 0 2.5px;
                font-size: 22px;
                transition: all 0.2s linear;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
                &:hover {
                    background: $green;
                    color: $white;
                }
            }
        }
    }
    &.contact-us {
        padding: 200px 0 65px;
        @media (max-width: 767px) {
            padding: 110px 0 65px;
        }
        .registration-section_header {
            margin-bottom: 26px;
        }
        .registration-section_form {
            max-width: 512px;
            .flex-group {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .form-group {
                    width: 49%;
                }
                &__btn {
                    text-align: right;
                    .btn {
                        min-width: 120px;
                    }
                }
            }
            textarea {
                resize: none;
            }
            .form-control {
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: #c5c9cc;
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: #c5c9cc;
                   opacity: 1;
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: #c5c9cc;
                   opacity: 1;
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color: #c5c9cc;
                }
            }
            .dropdown-toggle {
                color: #c5c9cc;
                width: 100%;
                text-align: left;
                position: relative;

                &:hover,
                &:focus,
                &:active {
                    background: white;
                }
            }
            .dropdown-menu {
                width: 100%;
            }
            .caret {
                position: absolute;
                right: 12px;
                top: 15px;
                color: #333;
            }
        }
    }
}
