.details-content{
    margin-top:100px;
    .video{
        .images{
            height: 168px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            img{
                max-width: 100%;
            }
            .play{
                cursor: pointer;
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 50;
                .icon-play{
                    width: 46px;
                    display: inline-block;
                    margin: -22px 0 0 -19px;
                    height: 46px;
                    background: url("../img/icon-play.png") no-repeat center center;
                }
            }
        }
    }
    .block-author{
        padding: 10px 0 10px 20px;
        border-bottom: 1px solid #f1f1f1;
        .avatar{
            display: inline-block;
            vertical-align: middle;
            width: 61px;
            height: 61px;
            margin-right: 10px;
            overflow: hidden;
        }
        .name{
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            font-weight: bold;
            color: #22baa0;
            margin: 0;
            span{
                color: #76828b;
                font-size: 13px;
            }
        }
    }
    .tramb-body{
        padding: 23px 0;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
        .rating{
            display: inline-block;
            a{
                color: #dfdfdf;
                &:hover{
                    color: #ffee2e;
                }

            }
            a.active{
                color: #ffee2e;
            }
        }
        .price{
            text-align: center;
            .icon-star{
                display: inline-block;
            }
            p{
                position: relative;
                display: inline-block;
                font-weight: bold;
                font-size: 42px;
                color: #4e5e6a;
                span{
                    font-size: 24px;
                }
                &:after{
                    width: 8px;
                    height: 8px;
                    content: " ";
                    background: url("../img/icon-star.png") no-repeat center center;
                    position:absolute;
                    right: -21px;
                    top: 8px;
                }
            }
        }
        .thumb_btn{
            padding: 9px 0px;
            margin-bottom: 10px;
            min-width: 209px;
        }
        .btn-g{
                display: inline-flex;
                border: 1px solid #ffdfe6;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                align-items: center;
                min-width: 207px;
            .bth_add-to-wishlist{
                color: #ff809b;
                display: inline-block;
                font-size: 16px;
                text-decoration: none;
                width: 80%;

            }
            .icon-like{
                width: 40px;
                float: left;
                height: 40px;
                align-items: center;
                border-right: 1px solid #ffdfe6;

                .fa{
                    font-size: 20px;
                    margin-top: 11px;
                    color: #ff98ae;
                    vertical-align: middle;
                }
            }
        }
    }
    .tramb-comment{
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
        > ul{
            margin-left: 0px;
            padding: 0;
            display: inline-block;
            text-align: left;
            li{
                list-style: none;
                a{
                    display: inline-block;
                    font-size: 14px;
                    color: #494949;
                    text-decoration: none;
                    &:hover{
                        color: #636060;
                    }
                }
                i{color: #c5c9cc;margin-right:8px;}
            }
        }
    }
    .social{
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
        .title{
            font-size: 16px;
            color: #292933;
            margin: 0 0 5px 0;
        }
        ul{
            padding: 0;
            margin: 0;
            display: inline-block;
            li{
                float: left;
                list-style: none;
                a{
                    display: block;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                    background: #f4f4f4;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    text-align: center;
                    transition:0.3s;
                    &:hover{
                        color: #fff;
                    }
                    i{
                        font-size: 21px;
                        margin-top: 7px;

                    }
                }
                a.facebook{
                    &:hover{
                        background: #3b5999;
                    }
                }
                a.twitter{
                    &:hover{
                        background: #03baf4;
                    }
                }
                a.linkedin{
                    &:hover{
                        background: #3b5999;
                    }
                }
            }
        }
    }
    .sub-text{
        padding: 13px 16px;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 15px;
        p{
            color: #c5c9cc;
            font-size: 11px;

        }
    }
    .block-rating{
        background: #4e5e6a;
        border-radius: 5px;
        padding: 15px 0;
        text-align: center;
        .title{
            display: inline-block;
            color: #fff;
            text-transform: uppercase;
            margin: 0;
            font-size: 16px;
        }
        .rating-item{
            .number{
                margin-right: 24px;
                font-size: 54px;
                color: #fff;
                display:  inline-block;
            }
            .rating-number{
                text-align: left;
                display: inline-block;
                .rating{
                    display: inline-block;
                    a{
                        color: #dfdfdf;
                        &:hover{
                            color: #ffee2e;
                        }

                    }
                    a.active{
                        color: #ffee2e;
                    }
                }
                .text-rating{
                    color: #fff;
                    font-size: 16px;
                }
            }
        }

    }

}
.general-title{
    font-size: 36px;
    color: #4e5e6a;
    margin: 0 0 12px 0;
}
.section-tags{
    .titles{
        margin-bottom: 18px;
        p{
            margin: 0 20px 0 0;
            display: inline-block;
            color: #494949;
            span{
                color: #7f8a92;
            }
        }
    }
    .section-tags{
        margin-bottom: 60px;
        .btn-tag{
            border-radius: 3px;
            padding: 6px 7px;
            border: 1px solid #cdd1d4;
            font-size: 12px;
            text-transform: uppercase;
            color: #4e5e6a;
            text-decoration: none;
            display: inline-block;
            transition:all 0.3s;
            margin: 0 10px 10px 0;
            &:hover{
                background: #f4f4f4;
            }
        }
    }
}
.article{
    margin-bottom: 25px;
    h2{
        font-size: 21px;
        color: #6f7a83;
        margin-bottom: 26px;
    }
    .text{
        margin: 0;
        color: #6f7a83;
        font-size: 16px;
    }
    .title{
        color: #6f7a83;
        font-weight: bold;
    }
}
.general-wrap{
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    .string {
        padding: 35px;
        position: relative;
        &_section {
            position: relative;
            margin-top: 20px;
            &:before {
                content: '';
            display: block;
            width: 1px;
            height: calc(100% - 20px);
            left: 4px;
            position: absolute;
            top: 10px;
            background: #ebebeb;
            }
        }
        &_title-string {
            color: #4e5e6a;
            padding-left: 20px;
            font-size: 18px;
            margin-bottom: 4px;
            display: inline-block;

            &:before{
                font: normal normal normal 14px/1 FontAwesome;
                width: 20px;
                height: 20px;
                background: #22baa0;
                content: "\f00c";
                position: absolute;
                left: -5px;
                /*top: 1px;*/
                color: #fff;
                border-radius: 50%;
                padding: 3px 0 0 3px;
                font-size: 14px;
            }
        }
        &_item {

        }
        &_head {
            position: relative;
            padding: 0 70px 0 20px;
            font-size: 15px;
            line-height: 1.6;
            margin: 10px 0 5px 0;
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #c8e9e2;
                position: absolute;
                display: block;
                left: 0;
                top: calc(50% - 5px);
                box-shadow: 0 0px 0 2px #fff;
            }
            &:after {
                content: '';
                display: block;
                height: 1px;
                width: calc(100% - 90px);
                border-bottom: 1px dotted #818181;
                position: absolute;
                left: 20px;
                bottom: 2px;
            }
            .title {
                background: #fff;
                display: inline-block;
                position: relative;
                z-index: 2;
                cursor: pointer;
                padding-right: 10px;
                color: #818181;
                a{
                    display: inline-block;
                    color: #fff;
                    background: #22baa0;
                    font-size: 13px;
                    text-decoration: none;
                    border-radius: 3px;
                    padding: 2px 5px;
                    margin-left: 5px;
                    transition: all 0.3s;
                    &:hover{
                        background: #1f9e89;
                    }
                }
                .icon-down {
                    background: url("../img/carret-down.png") no-repeat center center;
                    width: 8px;
                    height: 5px;
                    vertical-align: middle;
                    display: inline-block;
                    margin-left: 5px;
                }
                .icon-down.open-body{
                    transform: rotate(-180deg);
                }
            }
            .active {
                color: #22baa0;
            }
            .time {
                position: absolute;
                top: 4px;
                right: 0;
                color: #818181;
                font-size: 15px;
                background: #fff;
            }
        }
        &_body {
            max-width: 453px;
            padding-left: 36px;
            display: none;
            p{
                    color: #818181;
            }
        }
    }
}
.section-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .title-wrap{
        display: inline-block;
        vertical-align: middle;
        font-size: 21px;
        margin: 0;
        color: #4e5e6a;
    }
    .dropdown-icon{
        display: inline-block;
        vertical-align: middle;
        .arrow-down{
            width: 20px;
            height: 9px;
            display: inline-block;
            background: url("../img/arrow-down.png") no-repeat center center;
        }
    }
}

.section-price{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    border-top: 1px solid #f1f1f1;
    &_body{
        display: flex;
        align-items: center;
        .price{
            display: inline-block;
            font-size: 18px;
            color: #4e5e6a;
            margin: 0 15px 0 0;
            font-weight: bold;
            span{
                display: inline-block;
                font-size: 37px;
            }
        }
        .thumb_btn{
            padding: 12px 15px;
            vertical-align: middle;
            margin-right: 10px;
            width: 180px;
        }
        .icon-like{
            width: 50px;
            height: 50px;
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #ffdfe6;
            text-align: center;
            transition: all 0.3s;
            &:hover{
                    background: #f4f4f4;
            }
            i{
                font-size: 28px;
                margin-top: 13px;
                color: #ff98ae;
                vertical-align: middle;
                font-weight: bold;
            }
        }
    }
}

.reviews{
    &_section-top{
        display: flex;
        justify-content: space-between;
        margin: 22px 0;
        h2{
            display: inline-block;
            vertical-align: middle;
            font-size: 21px;
            margin: 0;
            color: #4e5e6a;
        }
        .dropdown-icon{
            display: inline-block;
            vertical-align: middle;
            .arrow-down{
                width: 20px;
                height: 9px;
                display: inline-block;
                background: url(../img/arrow-down.png) no-repeat center center;
            }
        }
    }
    &_wrap{
    /*    padding: 0 30px;*/
        border-radius: 3px;
        border: 1px solid #f1f1f1;
        margin-bottom: 40px;
    }
    &_user{
        padding-bottom: 17px;
        border-bottom: 1px solid #f1f1f1;
        padding: 20px 30px;
    }
    &_pagination{
        padding: 17px 0;
        text-align: right;
        .pagination-wrap{
            display: inline-block;
            margin-right: 30px;
            p{
                font-size: 14px;
                color: #818181;
                display: inline-block;
                vertical-align: middle;
                margin: 0 25px 0 0;
            }
            .bth-pagination{
                display: inline-block;
                vertical-align: middle;
                a{
                    display: inline-block;
                    vertical-align: middle;
                    width: 35px;
                    height: 35px;
                    margin-right: 5px;
                    border-radius: 3px;
                    border: 1px solid #8cd8cb;
                    text-align: center;
                    transition: 0.3s;
                    &:hover{
                        background: #effbf9;
                    }
                    .icon-prev{
                        background: url("../img/icon-prev.png");
                        width: 18px;
                        height: 13px;
                        display: inline-block;
                        margin-top: 10px;
                    }
                    .icon-next{
                        background: url("../img/icon-next.png");
                        width: 18px;
                        margin-top: 10px;
                        height: 13px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    &_head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .avatar{
            display: inline-block;
            vertical-align: middle;
            .img{
                margin-right: 15px;
                display: inline-block;
                vertical-align: middle;
                img{
                    width: 55px;
                    height: 55px;
                    display: block;
                }
            }
            .name{
                font-size: 18px;
                color: #4e5e6a;
                display: inline-block;
                vertical-align: middle;
                span{
                    display: block;
                    color: #818181;
                    font-size: 14px;
                }
            }
        }
        .rating{
            display: flex;
            align-items: center;
            a{
                color: #d7d7d7;
                transition:all 0.3s;
                margin-right: 2px;
                cursor: pointer;
                &:hover{
                    color: #ffd02e;
                }
            }
            a.active{
                color: #ffd02e;
            }
        }
    }
    &_message{
        background: #f7f7f7;
        padding: 20px;
        border-radius: 3px;
        p{
            font-size: 14px;
            color: #818181;
            position: relative;
            margin: 0;
            &:after{
                position: absolute;
                top: -36px;
                left: -2px;
                content: "";
                width: 22px;
                height: 20px;
                background: url("../img/icon-message.png");
            }
        }
    }
}

@media (max-width:991px) {
    .user-sidebar-left{width: 270px;margin: 0 auto 30px auto;}
}
@media (max-width: 480px) {
    .string{padding: 10px;}
    .string_title-string{font-size: 14px;}
    .string_head .title{font-size: 14px;}
    .string_head .title a{padding: 0 2px;font-size: 12px;}
    .section-price_body .thumb_btn{width: 140px;}
    .reviews_head{display: block;}
    .reviews_user{padding: 20px 15px;}
    .rating{justify-content: center;}
    .general-title {
    font-size: 23px;}
}
