// module SUB HEADER
$orangeColor: #ff851a;
.sub-header {
  background: #00a0d2 url("../../../dist/img/image.jpg") no-repeat center 100%;
  background-size: cover;
  min-height: 379px;
  .left-block-image {
    max-width: 450px;
    margin: 40px 0;
  }
  .body {
    float: right;
    padding: 45px 0;
     h1 {
       text-align: right;
       font-size: 42px;
       color: #fff;
       margin: 0 0 30px 0;
       text-transform: uppercase;
        text-shadow: 1px 1px 1px #0a001f;
       font-weight: 600;
     }
    &_content {
      margin: 0 0 30px 0;
      .title {
        float: right;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 15px 0;
        border-top: 4px dashed $orangeColor;
        border-bottom: 4px dashed $orangeColor;
        width: 98%;
        justify-content: space-between;
        .block-img {
          padding-left: 29px;
          img {
            max-width: 100%;
          }
        }
        h2 {
          font-size: 30px;
          color: #626262;
          line-height: 1.2;
        }
      }
    }
    &_phone {
      margin: 0 0 0 15px;
      padding-left: 38px;
      background: url('../../../dist/img/cell.png') no-repeat left center;
      p {
        font-size: 30px;
        color: $orangeColor;
        line-height: 1.2;
        font-weight: bold;
      }
    }
  }
}


