

<div class="profile-section">
    <div class="container container-small">
        <h1 class="profile-section_title">
            PRIVACY POLICY
        </h1>
        <div class="profile-section_white terms">
            <span class="title">1.Introduction</span>
            <ul>
                <li> 1.1 CourseRooms are committed to safeguarding the privacy of courserooms.com visitors; in this policy CourseRooms explain how CourseRooms
                    will treat your personal information. </li>
                <li>
                    1.2 CourseRooms will ask you to consent to our use of cookies
                    in accordance with the terms of this policy when you first visit courserooms.com. /
                    By using courserooms.com and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.
                </li>
            </ul>


            <span class="title">2. Collecting personal information</span>
            <ul>
                <li>
                    2.1 CourseRooms may collect, store and use the following kinds of personal information:
                    <ul>
                        <li>
                            (a) information about your computer and about your visits to and use of this website (including your IP address, geographical location,
                            browser type and version, operating system, referral source, length of visit, page views and website navigation paths);
                        </li>
                        <li>
                            (b) information that you provide to us when registering with courserooms.com as a student (including your name and
                            email address);
                        </li>
                        <li>
                            (c) information that you provide to us when registering with courserooms.com as an instructor (including your name, email address, and course content);
                        </li>
                        <li>
                            (d) information that you provide to us for the purpose of subscribing
                            to our email notifications and/or newsletters (including your name and email address);
                        </li>
                        <li>
                            (e) information that you provide to us when using the services on courserooms.com, or that is generated in the course of the use of those services (including
                            the timing, frequency and pattern of service use;
                        </li>
                        <li>
                            (f) information relating to any purchases you make of our services or any other transactions that you enter into through courserooms.com (including your name, address, telephone number,
                            email address and card details;
                        </li>
                        <li>
                            (g) information that you post to courserooms.com for publication on the internet (including your name, email address, Skype id, and institution name);
                        </li>
                        <li>
                            (h) information contained in or relating to any communications
                            that you send to us or send through courserooms.com (including the communication content and meta data associated with the communication);
                        </li>
                        <li>
                            (i) any other personal information that you choose to send to us;
                        </li>
                    </ul>
                </li>
                <li>2.2 Before you disclose to us
                    the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal
                    information in accordance with this policy. </li>
            </ul>


            <span class="title">3. Using your personal information </span>
            <ul>
                <li>
                    3.1 Personal information
                    submitted to us through courserooms.com will be used for the purposes specified in this policy or on the relevant pages of the website.
                </li>
                <li>
                    3.2 CourseRooms may use your personal information to:
                    <ul>
                        <li>
                            (a) administer courserooms.com and business;
                        </li>
                        <li>
                            (b) personalise courserooms.com for you;
                        </li>
                        <li>
                            (c) enable your use of the services available on courserooms.com;
                        </li>
                        <li>
                            (e) supply to you services purchased through courserooms.com;
                        </li>
                        <li>
                            (f) send statements, invoices and payment reminders to you, and collect
                            payments from you;
                        </li>
                        <li>
                            (g) send you non-marketing commercial communications;
                        </li>
                        <li>
                            (h) send you email notifications that you have specifically requested;
                        </li>
                        <li>
                            (i) send you our email newsletter, if you have requested it (you can inform us at any time
                            if you no longer require the newsletter);
                        </li>
                        <li>
                            (j) send you marketing communications relating to our business or the businesses of carefully-selected third parties which CourseRooms think may be of interest to you, by post or, where you have
                            specifically agreed to this, by email or similar technology (you can inform us at any time if you no longer require marketing communications);
                        </li>
                        <li>
                            (k) provide third parties with statistical information about our users (but those third parties
                            will not be able to identify any individual user from that information);
                        </li>
                        <li>
                            (l) deal with enquiries and complaints made by or about you relating to courserooms.com;
                        </li>
                        <li>
                            (m) keep courserooms.com secure and prevent fraud;
                        </li>
                        <li>
                            (n) verify compliance
                            with the terms and conditions governing the use of courserooms.com (including monitoring private messages sent through courserooms.com private messaging service);
                        </li>
                    </ul>
                </li>
                <li>
                    3.3 If you submit personal information for publication on courserooms.com,
                    CourseRooms will publish and otherwise use that information in accordance with the licence you grant to us.
                </li>
                <li>
                    3.4 CourseRooms will not, without your express consent, supply your personal information to any third party for the purpose of
                    their or any other third party's direct marketing.
                </li>
                <li>
                    3.5 All courserooms.com financial transactions are handled through our payment services provider, Stripe payment services. You can review the provider's privacy policy at https://stripe.com/us/terms.
                    CourseRooms will share information with our payment services provider only to the extent necessary for the
                    purposes of processing payments you make via courserooms.com, refunding such payments and dealing with complaints and queries relating
                    to such payments and refunds.
                </li>
            </ul>
            <span class="title">4. Disclosing personal information</span>
            <ul>
                <li>
                    4.1 CourseRooms may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as
                    reasonably necessary for the purposes set out in this policy.
                </li>
                <li>
                    4.2 CourseRooms may disclose your personal information to any member of our group of companies (this means our subsidiaries, our ultimate holding company and all its subsidiaries)
                    insofar as reasonably necessary for the purposes set out in this policy.
                </li>
                <li>
                    4.3 CourseRooms may disclose your personal information:
                    <ul>
                        <li>
                            (a) to the extent that CourseRooms are required to do so by law;
                        </li>
                        <li>
                            (b) in connection with any ongoing or prospective
                            legal proceedings;
                        </li>
                        <li>
                            (c) in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);
                        </li>
                        <li>
                            (d) to the purchaser (or prospective purchaser)
                            of any business or asset that CourseRooms are (or are contemplating) selling; and
                        </li>
                        <li>
                            (e) to any person who CourseRooms reasonably believe may apply to a court or other competent authority for disclosure of that personal information where,
                            in our reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.
                        </li>
                    </ul>
                </li>
                <li>
                    4.4 Except as provided in this policy, CourseRooms will not provide your personal information to third parties.
                </li>
            </ul>

            <span class="title">5. International data transfers</span>
            <ul>
                <li>
                    5.1 Information that CourseRooms collect may be stored and processed in and transferred
                    between any of the countries in which CourseRooms operate in order to enable us to use the information in accordance
                    with this policy.
                </li>
                <li>
                    5.2 Personal information that you publish on courserooms.com or submit for publication on courserooms.com may be available, via the internet, around the world. CourseRooms cannot prevent the use or misuse of such information
                    by others.
                </li>
                <li>
                    5.3 You expressly agree to the transfers of personal information described in this Section 5.
                </li>
            </ul>


            <span class="title">6. Retaining personal information</span>
            <ul>
                <li>6.1 This Section 6 sets out our data retention policies and procedure, which are designed to help
                    ensure that CourseRooms comply with our legal obligations in relation to the retention and deletion of personal information.</li>
                <li>
                    6.2 Personal information that CourseRooms process for any purpose or purposes shall not be kept for longer than
                    is necessary for that purpose or those purposes.
                </li>
                <li>
                    6.3 Without prejudice to Section 6.2, CourseRooms will usually delete personal data falling within the categories set out below at the date/time set out below: (a) personal data type will
                    be deleted after six months of inactivity
                </li>
                <li>
                    6.4 Notwithstanding the other provisions of this Section 6, CourseRooms will retain documents (including electronic documents) containing personal data:
                    <ul>
                        <li>
                            (a) to the extent that CourseRooms are required
                            to do so by law;
                        </li>
                        <li>
                            (b) if CourseRooms believe that the documents may be relevant to any ongoing or prospective legal proceedings; and
                        </li>
                        <li>
                            (c) in order to establish, exercise or defend our legal rights (including providing information to others
                            for the purposes of fraud prevention and reducing credit risk).
                        </li>
                    </ul>
                </li>
            </ul>

            <span class="title">7. Security of your personal information</span>
            <ul>
                <li>
                    7.1 CourseRooms will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal
                    information.
                </li>
                <li>
                    7.2 CourseRooms will store all the personal information you provide on our secure (password- and firewall-protected) servers.
                </li>
                <li>
                    7.3 You acknowledge that the transmission of information over the internet is inherently insecure,
                    and CourseRooms cannot guarantee the security of data sent over the internet.
                </li>
                <li>
                    7.4 You are responsible for keeping the password you use for accessing courserooms.com confidential; CourseRooms will not ask you for your password (except when
                    you log in to courserooms.com).
                </li>
            </ul>


            <span class="title">8. Amendments </span>
            <ul>
                <li>8.1 CourseRooms may update this policy from time to time by publishing a new version on courserooms.com.</li>
                <li>
                    8.2 You should check this page occasionally to ensure you are happy with any changes
                    to this policy.
                </li>
                <li>
                    8.3 CourseRooms may notify you of changes to this policy by email or through the private messaging system on courserooms.com.
                </li>
            </ul>

            <span class="title">9. Your rights </span>
            <ul>
                <li>9.1 CourseRooms may withhold personal information that you request to the extent
                    permitted by law.</li>
                <li>
                    9.2 You may instruct us at any time not to process your personal information for marketing purposes.
                </li>
                <li>
                    9.3 In practice, you will usually either expressly agree in advance to our use of your personal information for marketing
                    purposes, or CourseRooms will provide you with an opportunity to opt out of the use of your personal information for marketing purposes.
                </li>
            </ul>

            <span class="title">10. Third party websites</span>
            <ul>
                <li>
                    10.1 Courserooms.com includes hyperlinks to, and details of, third party
                    websites.
                </li>
                <li>
                    10.2 CourseRooms have no control over, and are not responsible for, the privacy policies and practices of third parties.
                </li>
            </ul>

            <span class="title">11. Updating information</span>
            <ul>
                <li>
                    11.1 Please let us know if the personal information that CourseRooms hold about
                    you needs to be corrected or updated.
                </li>
            </ul>

            <span class="title">12. Cookies </span>
            <ul>
                <li>12.1 Courserooms.com uses cookies.</li>
                <li>
                    12.2 A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the
                    browser. The identifier is then sent back to the server each time the browser requests a page from the server.
                </li>
                <li>
                    12.3 Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and
                    will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie,
                    on the other hand, will expire at the end of the user session, when the web browser is closed.
                </li>
                <li>
                    12.4 Cookies do not typically
                    contain any information that personally identifies a user, but personal information that CourseRooms store about you may be
                    linked to the information stored in and obtained from cookies.
                </li>
                <li>
                    12.5 CourseRooms use both session and persistent
                    cookies on courserooms.com.
                </li>
                <li>
                    12.6 The names of the cookies that CourseRooms use on courserooms.com,
                    and the purposes for which they are used, are set out below:
                    <ul>
                        <li>
                            (a) CourseRooms use both session and persistent cookies on courserooms.com
                            to recognise a computer when a user visits the website / track users as they navigate the website /
                            improve the website's usability / analyse the use of the website / administer the website / prevent fraud and improve the security of the
                            website / personalise the website for each user / target advertisements which may be of particular interest to specific users;
                        </li>
                    </ul>
                </li>
                <li>
                    12.7 Most browsers allow you to refuse to accept cookies; for example:
                    <ul>
                        <li>
                            (a) in Internet Explorer (version 10)
                            you can block cookies using the cookie handling override settings available by clicking "Tools", "Internet Options", "Privacy" and then "Advanced";
                        </li>
                        <li>
                            (b) in Firefox (version 24) you can block all cookies by clicking "Tools", "Options", "Privacy",
                            selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites"; and
                        </li>
                        <li>
                            (c) in Chrome (version 29), you can block all cookies by accessing the "Customise and control" menu, and clicking "Settings",
                            "Show advanced settings" and "Content settings", and then selecting "Block sites from setting any data" under the "Cookies" heading.
                        </li>
                        <li>
                            12.8 Blocking all cookies will have a negative impact upon the usability of many websites.
                        </li>
                        <li>
                            12.9 If you
                            block cookies, you will not be able to use all the features on courserooms.com.
                        </li>
                        <li>
                            12.10 You can delete cookies already stored on your computer; for example:
                            <ul>
                                <li>
                                    (a) in Internet Explorer (version 10), you must manually delete cookie files (you
                                    can find instructions for doing so at http://support.microsoft.com/kb/278835);
                                </li>
                                <li>
                                    (b) in Firefox (version 24), you can delete cookies by clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for history", clicking
                                    "Show Cookies", and then clicking "Remove All Cookies"; and
                                </li>
                                <li>
                                    (c) in Chrome (version 29), you can delete all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Clear browsing data",
                                    and then selecting "Delete cookies and other site and plug-in data" before clicking
                                    "Clear browsing data".
                                </li>
                            </ul>
                        </li>
                        <li>
                            12.11 Deleting cookies will have a negative impact on the usability of many websites.
                        </li>
                    </ul>
                </li>
            </ul>



            <span class="title">13. Our details </span>
            <ul>
                <li>
                    13.1 This website is owned
                    and operated by CourseRooms LTD.
                </li>
                <li>
                    13.2 You can contact us by writing to the business address given above,
                    by using courserooms.com contact form, by email to hello@CourseRooms.com or by telephone on [telephone number].
                </li>
            </ul>
        </div>
    </div>
</div>
