html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {

  border-spacing: 0;
}
.clearfix:after {
  content: '';
  display: table;
  height: 0;
  clear: both;
}
.clearfix:before {
  content: '';
  display: table;
  height: 0;
  clear: both;
}
body{
  
}
.header{
  background: url('images/fom2.jpg');
  height: 3422px;
    .top{
      background: rgba(68,41,35,0.95);
      height: 104px;
      border-bottom:3px solid rgba(134,85,72,0.8);
      .wrapper{
      max-width: 1100px;
      margin: 0 auto;
        .logo{
          float: left;
          margin-top:13px;
          img{
            float: left;
          }
        }
        .logo-text{
          color: #ffffff;
          float: left;
          font-size: 17px;
          font-weight: 300;
          line-height: 22px;
          margin: 30px 0 0 30px;

        }
        .right-header{
          width:30%;
          float: right;
          p{
            font-size: 18px;
            color: #fff;
            text-align: right;
            font-weight: 300;
            margin-top: 17px;
            line-height: 22px;
            margin-right:13px;
            margin-bottom: 8px;
          }
          .img{
            float: right;
            width: 163px;
            height: 45px;
            cursor: pointer;
            background: url('images/zvonok-u577.png') no-repeat;
            &:hover{
              background: url('images/zvonok-u577-r.png');
            }
          }
        }
      }
    }
  .center-block{
    border: 5px solid #FD9844;
    max-width: 838px;
    padding:15px 0 10px 0;
    margin:30px auto 0 auto;
    background: rgba(250,201,147,0.75);
    .title{
      text-align: center;
      font-size: 24px;
      margin-bottom:15px;
      font-weight: bold;
      line-height:28px;
      color: #47130b;
      font-family: 'PT Sans', sans-serif;
    }
    .sub-nav{
      ul{
        li{
          float: left;
          color: #47130b;
          height: 40px;
          margin-bottom: 0px;
          font-family: 'PT Sans', sans-serif;
          font-weight: 400;
          margin-left:8px;
          font-size: 17px;
          line-height: 40px;
          img{
            float: left;
            margin: 6px 12px 0 12px;
          }
          &:first-child{
            margin-left:0;
          }
        }
        .margin-l{
          margin-left: 130px;
        }
      }
    }

  }
  .content{
    max-width: 1030px;
    margin: 0 auto;
    .right-form{
      text-align: center;
      margin-top:50px;
      float: right;
      max-width: 272px;
      width:100%;
      background:url('images/fon-forma.png') no-repeat;
      height: 356px;
      .title{
        display:block;
        float: left;
        background: #ed1c24;
        margin: -30px 0 0 85px;
        -webkit-border-radius:10px;
        padding: 10px 12px;
        text-transform: uppercase;
        -moz-border-radius:10px;
        border-radius:10px;
        font-size:22px;
        color: #fff;
        font-weight: bold;
      }
      .text{
        text-align: center;
        font-size:17px;
        color: #fff;
        font-weight: 400;
        font-family: 'PT Sans', sans-serif;
        margin: 10px 0;
        line-height: 20px;
      }
      form{
        .wrapped-input{
          color:#7F7F7F;
          background: #F2F2F2;
          font-size:16px;
          max-width: 180px;
          font-family: 'PT Sans', sans-serif;
          width: 100%;
          margin:0 auto 10px auto;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.33) inset, 0 0 5px rgba(0, 0, 0, 0.33) inset;
          padding: 4px 10px;
          text-align: center;
          -webkit-border-radius:8px;
          border:none;
          -moz-border-radius:8px;
          border-radius:8px;
          outline: none;
          &:hover{
            background:#fff;

          }
          &:focus{
            background:#fff;
          }

        }
        .wrapped-input::-moz-placeholder{
          opacity: 1;
        }
        .wrapped-input::-webkit-input-placeholder{
          opacity:1;
        }
        .submit-btn{
          background: url('images/zakazat-raschet-u125-13.png');
          width:278px;
          height:65px;
          margin:15px auto;
          display: block;
          border: none;
          cursor: pointer;
          outline:none;
          &:hover{
            background: url('images/zakazat-raschet-u125-13-r.png');
          }
        }
        #counter_1423034999668_text{
          top:-9px !important;
        }
        .title-timer{
        font-size: 15px;
          margin-top:-20px;
          color:#fff;
          font-weight: 300;
          margin-bottom:10px;
        }
        .timer{
          width: 250px;
          margin:0 auto;
        }
      }
    }
  }
  .block1{
    position: relative;
    text-align: center;
    margin-top:170px;
    .title{
      color: #FF0000;
      font-size:34px;
      font-weight: bold;
      text-align: center;
      display: inline-block;
      position: relative;
      &:after{
        position: absolute;
        left:-100px;
        top: -33px;
        background: url('images/podarok.png');
        width: 91px;
        height: 91px;
        content:'';
      }
      &:before{
        position: absolute;
        right:-100px;
        top: -33px;
        background: url('images/podaroc2.png') no-repeat;
        width: 91px;
        height: 91px;
        content:'';
      }
    }
    .wrapper{
      max-width: 900px;
      margin:0 auto;
      .slider{
        margin-top:70px;
        .owl-carousel1{
          .owl-prev{
            background: url('images/vlevo-u655.png');
            width:50px;
            height:140px;
            font-size: 0;
            position: absolute;
            left:6%;
            top: 240px;
            &:hover{
              background: url('images/vlevo-u655-r.png');
            }
          }
          .owl-next{
            background: url('images/vpravo-u646.png');
            width:50px;
            height:140px;
            font-size: 0;
            position: absolute;
            right:6%;
            top: 240px;
            &:hover{
              background: url('images/vpravo-u646-r.png');
            }
          }
          .owl-dots{
            position: absolute;
            top: 65px;
            width: 100%;
            text-align: center;
            max-width:900px;
            .owl-dot{
              width:22px;
              height:22px;
              display: inline-block;
              background: #6B6B6B;
              margin: 0 10px;
              border-radius:50%;
              -moz-border-radius:50%;
              -webkit-border-radius:50%;
            }
            .active{
              background: #F87518;
            }
          }

          .box{
            height: 420px;
            padding-left: 15px;
            background: #fff;
            max-width: 250px;
            position: relative;
            margin:0 auto;
            border:3px solid #F7931E;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            img{
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              margin: 8px 0;
            }
            .title-box{
              font-family: 'PT Sans', sans-serif;
              font-width:400;
              text-align: left;
              color: #46505E;
              font-size:24px;
            }
            .price{
              text-align: left;
              margin-top:15px;
              font-family: 'PT Sans', sans-serif;
              font-width:400;
              color: #46505E;
              font-size:24px;
              span{
                font-weight: bold;
              }
            }
            #u1068
            {
              z-index: 930;
              width: 80px;
              height: 3px;
              border-color: #000000;
              background-color: #46505E;
              -webkit-transform: matrix(0.9781,-0.2079,0.2079,0.9781,1,8);
              -ms-transform: matrix(0.9781,-0.2079,0.2079,0.9781,1,8);
              transform: matrix(0.9781,-0.2079,0.2079,0.9781,1,8);
              position: relative;
              margin-right: -10000px;
              margin-top: -9px;
              left: -1px;
              top:-13px;
            }
            #u1069
            {
              z-index: 929;
              width: 80px;
              height: 3px;
              border-color: #000000;
              background-color: #46505E;
              -webkit-transform: matrix(0.9744,0.225,-0.225,0.9744,1,-9);
              -ms-transform: matrix(0.9744,0.225,-0.225,0.9744,1,-9);
              transform: matrix(0.9744,0.225,-0.225,0.9744,1,-9);
              position: relative;
              margin-right: -10000px;
              margin-top: 9px;
              left: -1px;
              top:-9px;
            }
            .sub-text{
              font-size:18px;
              color: red;
              font-family: 'PT Sans', sans-serif;
              font-weight: 400;
              text-align: left;
              margin-bottom: 10px;
            }
            .mini{
              text-align: left;
              font-family: 'PT Sans', sans-serif;
              font-weight: 400;
              color: #46505E;
              text-align: left;
              font-size:14px;
            }
            .btn{
              background: url('images/knopka-u901.png');
              width: 224px;
              height: 78px;
              position: absolute;
              bottom: 0px;
              left:50%;
              margin-left:-113px;
              margin-top:5px;
              display: inline-block;
              &:hover{
                background: url("images/knopka-u901-r.png");
              }

            }
            .mini-title{
              text-align: left;
              font-family: 'PT Sans', sans-serif;
              font-weight: 400;
              color: #46505E;
              text-align: left;
              font-size:14px;
              height:5px;
            }
          }

        }
      }
      .bottom-block{

      }
    }
  }

}