/*-----LAYOUT-----*/
.pt-wrapper {
  overflow: hidden; }

.pt-page-1 {
  background: none; }

.pt-page {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  overflow: initial;
  top: 0;
  left: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0); }

.no-js body {
  overflow-y: auto; }

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 100;
  display: inline-block; }

.pt-page-1 {
  overflow-y: auto; }

body {
  overflow-x: hidden; }

.activePage .parallax-mirror {
  display: none !important; }

body {
  overflow-x: hidden; }

/*-----MODULES-----*/
/*Header style*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  /*avatar*/
  /*logo-text*/
  /*logo*/
  /*nav-container*/ }
  .header__sniper {
    border-radius: 50%;
    border: 2px solid #FD5F54;
    border-right-color: #1AD280;
    border-bottom-color: #1AD280;
    width: 60px;
    height: 60px;
    position: absolute;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2100ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2100ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2100ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2100ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .header__avatar {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    border-radius: 50%; }
  .header__avatar-img {
    border-radius: 50%;
    display: block;
    width: 60px; }
  .header__logo-link {
    margin: 0 auto;
    width: 60px;
    display: block; }
    .header__logo-link .avatar-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: block; }
    .header__logo-link .sniper {
      border-radius: 50%;
      border: 2px solid #FD5F54;
      border-right-color: #1AD280;
      border-bottom-color: #1AD280;
      width: 60px;
      height: 60px;
      position: absolute;
      -webkit-animation-name: spin;
      -webkit-animation-duration: 2100ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spin;
      -moz-animation-duration: 2100ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spin;
      -ms-animation-duration: 2100ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
      animation-name: spin;
      animation-duration: 2100ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
  .header__logo-text {
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 20px; }
    .header__logo-text .name {
      font-size: 23px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      margin: 0 0 8px 0; }
    .header__logo-text .position {
      text-align: left;
      color: #fff;
      font-weight: 300;
      font-size: 14px; }
  .header .logo {
    position: relative; }
  .header .mobile-logo {
    float: left;
    display: none;
    width: 100%; }
  .header__string {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__container-header {
    padding: 6px 15px 6px 15px;
    max-width: 1170px;
    margin: 0 auto; }
  .header .left-bg {
    top: 0;
    background: #0773BA;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 35%;
    min-width: 238px; }
  .header__nav-container {
    /*display: none !important;*/ }
    .header__nav-container ul li a .icon:hover i {
      color: #0773BA; }
    .header__nav-container .nav ul {
      list-style: none; }
      .header__nav-container .nav ul li {
        text-align: center;
        float: left; }
        .header__nav-container .nav ul li a {
          text-decoration: none;
          display: block;
          cursor: pointer;
          color: #323232;
          font-size: 16px; }
          .header__nav-container .nav ul li a .icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 400;
            width: 50px;
            text-transform: uppercase; }
            .header__nav-container .nav ul li a .icon + span {
              transition: 0.3s; }
              .header__nav-container .nav ul li a .icon + span i {
                transition: 0.8s; }
              .header__nav-container .nav ul li a .icon + span:hover i {
                color: #0773ba; }
          .header__nav-container .nav ul li a i {
            position: relative;
            display: inline-block;
            margin: 12px 10px;
            padding: 0.4em;
            float: left;
            border-radius: 50%;
            font-size: 1.2em;
            transform: translate3d(0, 0, 0);
            box-shadow: 0 0 0 0.8em transparent;
            transition: box-shadow .6s ease-in-out; }
          .header__nav-container .nav ul li a:hover .icon + span {
            color: #0773ba; }
          .header__nav-container .nav ul li a:hover i {
            box-shadow: 0 0 0px 0px rgba(7, 115, 186, 0.5);
            color: #0773ba; }
  .header .menu {
    display: none; }
  .header__title-menu {
    display: inline-block;
    padding: 10px 40px;
    border-bottom: 1px solid #eaeaea; }
    .header__title-menu .name {
      color: #fff;
      font-size: 17px;
      font-weight: 400; }
  .header__avatar-menu img {
    width: 60px;
    border-radius: 50%;
    height: 60px; }
  .header .menu-button {
    position: relative;
    z-index: 1000;
    display: none;
    padding: 0;
    right: 0;
    width: 40px;
    height: 31px;
    border: none;
    text-indent: 2.5em;
    /* font-size: 16px; */
    color: transparent;
    outline: none;
    background: transparent; }
    .header .menu-button:before {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      bottom: 0.5em;
      left: 0.5em;
      background: linear-gradient(#FD5F54 20%, transparent 20%, transparent 40%, #FD5F54 40%, #FD5F54 60%, transparent 60%, transparent 80%, #FD5F54 80%);
      content: ''; }
  @media (max-width: 991px) {
    .header__avatar {
      width: 40px; }
    .header__sniper {
      width: 40px;
      height: 40px; }
    .header__avatar-img {
      width: 40px;
      height: 40px; }
    .header__nav-container {
      transform: translateX(-210px);
      position: fixed;
      left: 0;
      top: 0;
      background: linear-gradient(#2e4982, 85%, #35baf3);
      width: 210px;
      transition: all 0.3s;
      height: 100%; }
      .header__nav-container .nav {
        display: flex;
        padding-left: 32px; }
        .header__nav-container .nav ul li {
          text-align: left;
          float: none; }
          .header__nav-container .nav ul li a {
            color: #fff; }
            .header__nav-container .nav ul li a i {
              margin: 5px 10px; }
            .header__nav-container .nav ul li a:hover .icon + span {
              color: #fff; }
            .header__nav-container .nav ul li a:hover i {
              color: #009aff; }
      .header__nav-container.active {
        transform: translateX(0px); }
    .header .menu-button {
      display: block; }
    .header .menu {
      display: block;
      padding: 40px 0 0 0;
      text-align: center;
      margin-bottom: 30px; }
    .header__logo-text .name {
      font-size: 18px;
      margin-bottom: 5px; }
    .header__logo-text .position {
      font-size: 13px; }
    .header .left-bg {
      width: 77%; } }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }

@-moz-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }

@-o-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }

@-ms-keyframes good {
  from {
    height: 0; }
  to {
    height: 100%; } }

.page-portfolio {
  display: none; }
  .page-portfolio .portfolio__box {
    opacity: 0; }
  .page-portfolio__head {
    position: relative;
    margin-bottom: 30px;
    background: url("../img/pages-head.jpg") no-repeat;
    background-position-y: -74px;
    display: flex;
    padding: 84px 15px 0 15px;
    align-items: center;
    justify-content: center;
    height: 350px; }
    .page-portfolio__head:after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      background: url(../img/overlay-li.png) rgba(0, 0, 0, 0.5); }
  .page-portfolio__title {
    text-transform: uppercase;
    font-size: 51px;
    color: #fff;
    position: relative;
    z-index: 100;
    font-weight: 500;
    text-align: center;
    font-family: 'Baloo Da', cursive;
    letter-spacing: 3px; }

.about-us.page .main-col {
  display: flex;
  align-items: center; }
  .about-us.page .main-col .col {
    width: 50%;
    padding: 0 15px; }

.pt-page-2, .pt-page-3 {
  background-color: #fff; }

.pt-page-2.pt-page-current > div {
  display: block; }

.pt-page-3.pt-page-current > div {
  display: block; }

.hideBox {
  opacity: 0 !important;
  transition: .5s; }

/*parallax - Home*/
.background {
  min-height: 100vh;
  position: relative;
  width: 100%; }

.background.scroll {
  padding-top: 7vh; }

#home {
  background: url("../img/image-bg.jpg");
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax {
  padding: 20px 0;
  height: 100vh;
  background: transparent;
  position: relative; }
  .parallax__title-head {
    display: flex;
    align-items: flex-end;
    height: 25vh;
    justify-content: center;
    width: 100%;
    z-index: 100; }
    .parallax__title-head h2 {
      font-family: 'Baloo Da', cursive;
      color: #fff;
      font-size: 50px;
      font-weight: 400;
      display: inline-block; }
  .parallax__slider-caption {
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center; }
    .parallax__slider-caption h2 {
      font-size: 70px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      padding: 113px 0 !important;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 100px;
      text-transform: uppercase;
      z-index: 100;
      position: relative; }
    .parallax__slider-caption p {
      font-size: 24px;
      margin-bottom: 10px; }
  .parallax__mobile-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    width: 100%;
    max-width: 1170px; }
    .parallax__mobile-slider .text-html {
      font-size: 24px;
      margin-bottom: 10px;
      color: #fff;
      position: absolute;
      top: 42px;
      text-transform: uppercase;
      font-weight: 100;
      left: 23px; }
    .parallax__mobile-slider .text-css {
      font-size: 24px;
      margin-bottom: 10px;
      position: absolute;
      top: 42px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 100;
      left: 152px; }
  .parallax__plus-img {
    display: block;
    float: left;
    width: 139px; }
  .parallax__html5 {
    float: left;
    position: relative;
    width: 280px;
    height: 400px; }
    .parallax__html5 .slide-img1 {
      position: absolute;
      top: 75px;
      left: 0; }
    .parallax__html5 .slide-img2 {
      position: absolute;
      top: 75px;
      left: 134px; }
    .parallax__html5 .slide-img3 {
      position: absolute;
      top: 125px;
      left: 49px;
      z-index: 5; }
    .parallax__html5 .slide-img4 {
      position: absolute;
      top: 125px;
      left: 134px;
      z-index: 5; }
    .parallax__html5 .slide-img5 {
      position: absolute;
      top: 101px;
      left: 29px;
      z-index: 3; }
    .parallax__html5 .slide-img6 {
      position: absolute;
      top: 101px;
      left: 134px;
      z-index: 3; }
  .parallax__js {
    height: 400px;
    float: right;
    position: relative;
    width: 280px; }
    .parallax__js .right-js {
      position: absolute;
      right: 0;
      top: 78px; }
    .parallax__js .left-js {
      position: absolute;
      right: 135px;
      top: 78px; }
    .parallax__js .right-js-b {
      position: absolute;
      right: 19px;
      top: 93px; }
    .parallax__js .js-b {
      position: absolute;
      right: 55px;
      top: 113px; }
  @media (max-width: 991px) {
    .parallax__js {
      display: none; }
    .parallax__plus-img {
      display: none; }
    .parallax__mobile-slider {
      justify-content: center; } }
  @media (max-width: 767px) {
    .parallax__title-head h2 {
      font-size: 30px; } }

/*SERVISES*/
.servises {
  min-height: 100vh;
  position: relative;
  z-index: 100; }
  .servises .services-box {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around; }
  .servises h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #333;
    display: inline-block;
    padding: 0 0px 10px 0;
    border-bottom: 2px solid #333; }
  .servises .icon {
    display: inline-block;
    width: 30px;
    margin: 0 auto; }
  .servises .title {
    text-align: center;
    margin-bottom: 30px; }
    .servises .title .icon-pentagon i {
      font-size: 20px;
      color: #fff; }
  .servises .servises-animation {
    min-height: 100vh;
    padding-top: 57px;
    position: relative;
    background: #fff;
    z-index: 100; }
  .servises .item {
    opacity: 0; }
    .servises .item.bounceInUp {
      opacity: 1; }
  .servises .service {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .servises .service .icon-holder {
      position: relative;
      top: 100px;
      display: inline-block;
      margin-bottom: 40px;
      padding: 10px;
      background: white;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .servises .service .heading {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      position: relative;
      top: 80px;
      -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .servises .service .description {
      padding-bottom: 15px;
      width: 80%;
      font-family: 'Open Sans', sans-serif;
      line-height: 22px;
      margin: 0 auto;
      font-size: 16px;
      opacity: 0;
      -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
  .servises .svg-wrapper {
    position: relative;
    top: 50%;
    margin: 0 auto 50px auto;
    width: 320px; }
    .servises .svg-wrapper svg {
      border-radius: 5px;
      width: 320px;
      height: 280px; }
    .servises .svg-wrapper rect {
      width: 320px;
      height: 280px; }
    .servises .svg-wrapper:hover .icon-holder {
      top: -30px; }
    .servises .svg-wrapper:hover .heading {
      top: -30px; }
    .servises .svg-wrapper:hover .description {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .servises i {
    font-size: 50px;
    color: #49acef; }

/*PORTFOLIO */
.portfolio {
  background: #fff;
  position: relative;
  overflow: hidden; }
  .portfolio__title {
    text-align: center;
    margin-top: 3%;
    width: 100%; }
    .portfolio__title .title {
      text-align: center;
      font-size: 36px;
      text-transform: uppercase;
      color: #333;
      display: inline-block;
      padding: 0 0px 10px 0;
      margin: 20px 0;
      border-bottom: 2px solid #333;
      position: relative; }
    .portfolio__title .icon {
      display: inline-block;
      margin: 0 auto; }
      .portfolio__title .icon i {
        color: #fff; }
  .portfolio__grid {
    padding: 20px 0 0 0;
    margin: 4% auto;
    max-width: 1340px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
  .portfolio__box {
    display: inline-block;
    margin: 0 0 20px 0px;
    padding: 20px;
    height: 370px;
    text-align: left;
    position: relative;
    opacity: 0;
    /* hover box*/ }
    .portfolio__box.animated {
      animation-duration: 0.8s; }
    .portfolio__box .img-n {
      position: relative; }
    .portfolio__box .screen {
      -webkit-backface-visibility: hidden;
      transform: translate(0px, 0px);
      transition: transform 6s ease 0s; }
    .portfolio__box.bounceInUp {
      opacity: 1; }
    .portfolio__box .block {
      position: relative;
      margin: 0 auto;
      width: 349px; }
      .portfolio__box .block > img {
        width: 348px; }
    .portfolio__box .top {
      position: absolute;
      transition: 0.4s;
      top: -30px;
      background: #2c3f52 none repeat scroll 0% 0%;
      width: 100%;
      padding: 8px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 0;
      opacity: 0;
      color: white; }
      .portfolio__box .top .main {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        display: inline-block;
        border: 1px solid #0773BA;
        font: 14px arial, sans-serif;
        text-align: center;
        text-decoration: none;
        color: #FFF;
        padding: 8px 12px;
        -webkit-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out; }
      .portfolio__box .top h3 {
        float: left; }
    .portfolio__box .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      position: absolute;
      transition: 0.4s;
      bottom: -54px;
      background: rgba(44, 63, 82, 0.8);
      width: 100%;
      z-index: 5;
      color: white;
      padding: 10px; }
      .portfolio__box .bottom a {
        display: block;
        float: right;
        padding: 5px 8px;
        color: #fff;
        border-radius: 2px;
        margin: 0 15px 0 0;
        background: #0773BA; }
      .portfolio__box .bottom .info-project .views-user {
        margin-top: 10px; }
    .portfolio__box .button-svg {
      margin-top: 18px;
      text-align: center;
      display: none;
      opacity: 0;
      padding: 0; }
    .portfolio__box .button {
      -webkit-transition: all 600ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
      -moz-transition: all 600ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
      -ms-transition: all 600ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
      -o-transition: all 600ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
      transition: all 600ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
      display: block;
      margin: 0px auto;
      max-width: 180px;
      font-weight: 600;
      text-decoration: none;
      border-radius: 4px;
      padding: 10px 20px;
      color: #fff;
      box-shadow: rgba(255, 128, 155, 0.9) 0 0px 0px 0px inset;
      background: #2ca2ed; }
      .portfolio__box .button:hover {
        color: #fff;
        box-shadow: #ff809b 0 0px 0px 40px inset; }
    .portfolio__box figure {
      margin: 0;
      position: relative; }
      .portfolio__box figure img {
        z-index: 10;
        transition: transform 0.4s;
        max-width: 100%;
        display: block;
        position: relative; }
      .portfolio__box figure figcaption {
        height: 100%;
        width: 100%;
        opacity: 0;
        transform: scale(0.7);
        backface-visibility: hidden;
        transition: transform 0.4s, opacity 0.4s;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: #2c3f52;
        color: #ed4e6e; }
        .portfolio__box figure figcaption h3 {
          margin: 0;
          padding: 0;
          color: #fff; }
        .portfolio__box figure figcaption span:before {
          content: 'by '; }
        .portfolio__box figure figcaption a {
          text-align: center;
          padding: 5px 10px;
          border-radius: 2px;
          display: inline-block;
          background: #ed4e6e;
          color: #fff;
          position: absolute;
          bottom: 20px;
          right: 20px; }
      .portfolio__box figure:hover img {
        cursor: pointer;
        transform: scale(0.8); }
      .portfolio__box figure:hover figcaption {
        transform: scale(1);
        opacity: 1; }
    .portfolio__box .scale-img {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      height: 178px;
      margin: 0 auto;
      position: absolute;
      overflow: hidden;
      background: #2c3f52;
      width: 318px;
      top: 15px;
      left: 15px; }
      .portfolio__box .scale-img:after {
        transition: 0.3s;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
        z-index: 0; }
    .portfolio__box .scale-img img {
      width: 100%; }
    .portfolio__box:hover .bottom {
      bottom: 0px;
      z-index: 100;
      opacity: 1;
      height: 35%; }
    .portfolio__box:hover .top {
      z-index: 5;
      top: 0;
      opacity: 1; }
    .portfolio__box:hover .button-svg {
      -webkit-animation-name: demo-btn;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: demo-btn;
      -moz-animation-fill-mode: forwards;
      animation-name: demo-btn;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
      display: flex; }
      .portfolio__box:hover .button-svg .button {
        padding: 15px 30px; }
    .portfolio__box:hover .screen {
      transform: translate(0px, calc(-100% + 280px)); }
