/****************************/
/*  BASE STYLES  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: '';
  display: table;
  height: 0;
  clear: both; }

.clearfix:before {
  content: '';
  display: table;
  height: 0;
  clear: both; }

* {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'Cabin', sans-serif;
  background: #fff; }

/*****************************/
/*  LAYOUT */
/*----HEADER----*/
.header {
  height: 72px; }
  .header .container-fluid {
    height: 100%;
    display: flex; }
    .header .container-fluid > div {
      align-self: center; }
      .header .container-fluid > div .logo {
        float: left;
        margin-left: 10px; }
      .header .container-fluid > div .social-block li {
        float: left; }
        .header .container-fluid > div .social-block li a {
          display: block;
          width: 26px;
          height: 26px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin: 0 4px; }
        .header .container-fluid > div .social-block li .linredin {
          background: #0177b5 url("../images/icons/LinkedIn-icon.png") no-repeat center center; }
        .header .container-fluid > div .social-block li .facebook {
          background: url("../images/icons/Facebook-icon.png") no-repeat center center; }
        .header .container-fluid > div .social-block li .twitter {
          background: url("../images/icons/twitter-icon.png") no-repeat center center; }
      .header .container-fluid > div .search {
        max-width: 290px;
        position: relative;
        margin-left: 8px; }
        .header .container-fluid > div .search input {
          font-size: 14px;
          color: #c9cdd0;
          -webkit-border-radius: 3px;
          outline: none;
          -moz-border-radius: 3px;
          border-radius: 3px;
          border: 1px solid #8cd8cb;
          width: 100%;
          padding: 5px 15px;
          font-weight: 600; }
        .header .container-fluid > div .search input::-webkit-input-placeholder {
          color: #c9cdd0; }
        .header .container-fluid > div .search input:-moz-placeholder {
          color: #c9cdd0; }
        .header .container-fluid > div .search .icon-search {
          width: 25px;
          height: 25px;
          right: 8px;
          top: 2px;
          position: absolute;
          background: url("../images/icons/icon-search.png") no-repeat center center; }
      .header .container-fluid > div .navigation {
        float: right;
        margin: 19px 50px 0 0; }
        .header .container-fluid > div .navigation ul li {
          float: left; }
          .header .container-fluid > div .navigation ul li a {
            display: block;
            font-size: 16px;
            color: #4e5e6a;
            font-weight: 600;
            text-decoration: none;
            margin-right: 30px; }
          .header .container-fluid > div .navigation ul li:last-child a {
            margin-right: 0; }
      .header .container-fluid > div .panel {
        float: right;
        margin-right: 56px; }
        .header .container-fluid > div .panel .panel-info {
          margin-top: 15px;
          float: left; }
          .header .container-fluid > div .panel .panel-info .select-list {
            margin-right: 18px;
            outline: none;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #22baa0;
            float: left;
            position: relative; }
          .header .container-fluid > div .panel .panel-info .panel-icons {
            float: left; }
            .header .container-fluid > div .panel .panel-info .panel-icons li {
              float: left; }
              .header .container-fluid > div .panel .panel-info .panel-icons li a {
                margin-right: 18px;
                display: block; }
              .header .container-fluid > div .panel .panel-info .panel-icons li .notice {
                width: 23px;
                height: 22px;
                background: url("../images/icons/notice-icon.png") no-repeat center center; }
              .header .container-fluid > div .panel .panel-info .panel-icons li .notice-message {
                width: 25px;
                position: relative;
                height: 20px;
                background: url("../images/icons/message-icon.png") no-repeat center center; }
                .header .container-fluid > div .panel .panel-info .panel-icons li .notice-message .number {
                  position: absolute;
                  right: -5px;
                  font-size: 10px;
                  padding-top: 1px;
                  color: #fff;
                  top: -5px;
                  background: #22baa0;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  width: 12px;
                  height: 12px;
                  text-align: center; }
              .header .container-fluid > div .panel .panel-info .panel-icons li:last-child a {
                margin-right: 0; }
        .header .container-fluid > div .panel .panel-profile {
          margin-left: 15px;
          float: left; }
          .header .container-fluid > div .panel .panel-profile .avatar {
            float: left; }
            .header .container-fluid > div .panel .panel-profile .avatar img {
              width: 47px;
              height: 49px; }

/******************************/
/*    MODULES */
body {
  background: red; }

/*# sourceMappingURL=main.css.map */
