<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><title>Ваш браузер устарел или не позволяет корректно отобразить содержимое сайта.</title>
<style type="text/css" rel="stylesheet">
html, body{margin:0; padding:0; color:#333; font-size:12px; font-family:arial,helvetica sans-serif; backgorund:#fff}
.bd{text-align:center}
.toolbar{height:48px; margin-bottom:77px; background:#ed812b}
.logo{display:block; margin:0 auto; width:178px; height:48px; outline:none}
a.logo:hover{background-color:#e26c1b; background-position:15px -18px}
.header{margin:.8em 0; font-size:24px; font-weight:normal}
a{color:#eb722e}
a:hover, a:active{color:#b84819}
p{margin:1em 0}
.update-browser-list{display:inline-block; *display:inline; overflow:hidden; margin:40px 0 20px; padding:0; list-style:none; zoom:1}
.update-browser-list_li{display:inline-block; *display:inline; margin:0; padding:0 27px; width:102px; border-left:1px solid #fff; text-align:center}
.update-browser-list_a{display:inline-block; *display:inline; padding-top:105px; width:102px; background:url(images/browser-logos.png) no-repeat; color:#666; line-height:20px; zoom:1; -webkit-animation:fadein ease-in 1.5s}.update-browser-list_a:hover{color:#000; zoom:1}.browser-firefox{background-position:0 -125px}.browser-opera{background-position:0 -375px}.browser-chrome{background-position:0 0}.browser-safari{background-position:0 -250px}.browser-ie{background-position:0 -500px}@-webkit-keyframes fadein{0%{opacity:0}0%{opacity:0}100%{opacity:1}}</style>
</head>
<body>
<div class="bd">
<div class="toolbar">
<a class="logo" href="#"></a></div><h2 class="header">Ваш браузер устрел (версия IE должна быть веше 6-й) и не позволяет корректно отобразить содержимое сайта.</h2><p class="advice">Скачайте один из новых браузеров, поддерживающих эту технологию,</p><ul class="update-browser-list">
	<li class="update-browser-list_li"><a target="_BLANK" class="update-browser-list_a browser-firefox" title="Перейти на страницу скачивания браузера Mozilla Firefox" href="http://www.mozilla-europe.org/ru/firefox/">Mozilla Firefox</a></li>
	<li class="update-browser-list_li"><a target="_BLANK" class="update-browser-list_a browser-opera" title="Перейти на страницу скачивания браузера Opera" href="http://www.opera.com/browser/download/">Opera</a></li>
	<li class="update-browser-list_li"><a target="_BLANK" class="update-browser-list_a browser-chrome" title="Перейти на страницу скачивания браузера Google Chrome" href="http://www.google.com/chrome?hl=ru">Google Chrome</a></li>
	<li class="update-browser-list_li"><a target="_BLANK" class="update-browser-list_a browser-safari" title="Перейти на страницу скачивания браузера Apple Safari" href="http://www.apple.com/ru/safari/download/">Apple Safari</a></li>
	<li class="update-browser-list_li"><a target="_BLANK" class="update-browser-list_a browser-ie" title="Перейти на страницу скачивания браузера Microsoft Internet Explorer" href="http://windows.microsoft.com/ru-RU/internet-explorer/products/ie/home">Internet Explorer</a></li>
</ul>
</body>
</html>