a {
  text-decoration: none !important; }

.cont-page  {

  position: relative;
  //padding-bottom: 138px;
  //@media(max-width: 767px) {
	//padding-bottom: 170px;
  //}
  &__body {
	height: calc(100vh - 139px);
	padding: 55px 15px 0px 15px ;
	display: flex;
	align-items: center;
	justify-content: center;
	@media(max-width: 1024px) {

	}
	@media(max-width: 768px)and (max-height: 1000px) {
	  height: calc(100vh - 195px);
	}
	@media(max-height: 767px) {min-height: 730px;}
	@media(max-width: 767px) {
	  height: auto;
	  min-height:inherit ;
	  padding: 80px 5px 15px 5px;
	}
	&.london-img {
	  background: url("../img/landing-page/pexels-photo.jpg") no-repeat;
	  background-size: cover;
	}
	&.Dublin-img {
	  background: url("../img/landing-page/Dublin.jpg") no-repeat;
	  background-size: cover;
	}
	&.Washington {
	  background: url("../img/landing-page/contact-slide1.jpg") no-repeat;
	  background-size: cover;
	}
  }
  &__footer {
	display: flex;
	align-items: center;
	background: #191919;
	padding:15px 0;
	bottom: 0;
	width: 100%;
	min-height: 137px;
	.wrap {
	  margin: 0 auto;
	  max-width: 1170px;
	  width: 100%;
	  text-align: center;
	  @media(max-width: 768px) {
		display: block;
		text-align: center;
	  }
	  ul {
		display: inline-block;
		li {
		  float: left;
		  a {
			display: inline-block;
			color: #fff;
			color: #51555b;
			margin-top: 14px;
			font-size: 13px;
			cursor: pointer;
			margin-right: 15px;
			transition: all 0.3s;

			&:hover {
			  color: #03baf4;
			}
		  }
		  &:last-child  a {
			margin-right: 0;
		  }
		}
	  }
	}
	  .logo-footer {
		display: inline-block;

	  }
	  .footer-copyright {
		color: #51555b;
		margin-top: 14px;
		text-align: center;
		font-size: 12px;
	  }
	  img {
		max-width: 100%;
	  }
  }
  &__block-form {
	padding: 15px 40px;
	max-width: 1000px;
	width: 100%;
	background: rgba(0,0,0,0.7);
	@media(max-width: 767px) {
	  padding: 15px;  }
  }
  .wrap-form {
	overflow: hidden;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  &__head {
	text-align: center;
	padding: 20px 15px;
	margin-bottom: 30px;

	@media(max-width: 1024px) {
	  padding: 0 15px; }
	@media(max-width: 768px) {
	  padding: 0;
	  margin-bottom: 15px;}
	ul {
	  display: inline-block;
	  li {
		float:left;
		@media(max-width: 767px) {
		  float:none;
		  text-align: center;
		  padding: 5px 0;
		}
		a {
		  margin: 0 35px;
		  display: block;
		  color: #fff;
		  font-weight: 300;
		  font-size: 28px;
		  cursor: pointer;
		  @media(max-width: 767px) {
			font-size: 20px; }
		  &.active {
			color: #0082c5;
		  }
		}
	  }
	}
  }
  &__content-form {
	.title-col {
	  font-size: 28px;
	  font-weight: 400;
	  line-height: 24px;
	  color: #fff;
	  margin-bottom: 30px;
	}
	.sub-title-col {
	  line-height: 24px;
	  font-size: 14px;
	  font-weight: bold;
	  color: #fff;
	  margin-bottom: 30px;
	  text-transform: uppercase;
	}
	.mail {
	  margin-bottom: 10px;
	  color: #0082c5;
	  font-weight: bold;
	  font-size: 14px;
	  display: block;
	  @media(max-width: 767px) {
		margin-bottom: 20px; }
	}
	.main-title {
	  font-size: 24px;
	  color: #fff;
	  margin-bottom: 10px;
	  font-weight: 400;
	  line-height: 24px;
	  @media(max-width: 768px) {
		text-align: center;
		font-size: 18px;
		}
	}
	.sub-main-title {
	  font-weight: 400;
	  line-height: 24px;
	  font-size: 16px;
	  color: #fff;
	  margin-bottom: 30px;
	  @media(max-width: 768px) {
		text-align: center;
		font-size: 14px;
		margin-bottom: 10px;
	  }
	}
	.captcha {
	  display: flex;
	  align-items: center;
	  padding: 50px 15px 30px 15px;
	  justify-content: space-between;
	  flex-flow: row wrap;
		.form-group-captcha {
			//width: 100%;
			position: relative;
		}
	  > div {
		position: relative;
	  }
	  @media(max-width: 991px) {
		justify-content: center;
	  }
	  	}
	.text-danger {
	  color: #a94442;
	  position: absolute;
	  bottom: -27px;
	  left:0;
	  font-size: 14px;
	}
	.form-group {
	  position: relative;
	  margin-bottom: 10px;
	}
	input::-webkit-input-placeholder {
	  color: #a7a4a4;
	}
	textarea::-webkit-input-placeholder {
	  color: #a7a4a4;
	}

	input {
	  margin-bottom: 20px;
	  background:  none;
	  font-size: 15px;
	  color: #a7a4a4;
	  border: none;
	  height: 40px;
	  padding: 10px 15px;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius:0 ;
	  outline: none;
	  border-bottom: 1px solid #404142;
	  font-weight: 600;
	  &:focus {
		box-shadow:  none;
		color: #fff;
	  }
	}
	textarea {
	  resize: vertical;
	  background:  none;
	  outline:none;
	  width: 100%;
	  font-size: 15px;
	  min-height: 40px;
	  color: #fff;
	  border: none;
	  height: 74px;
	  padding: 10px 15px;
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius:0 ;
	  border-bottom: 1px solid #404142;
	  font-weight: 600;
	}
	.button {
	  text-align: center;
	  @media(max-width: 900px) {
		margin-top: 20px;
	  }
	}
	.btn-submit {
	  display: inline-block;
	  font-size: 15px;
	  text-transform: uppercase;
	  color: #fff;
	  padding: 13px 25px;
	  margin-left: 10px;
	  border: 2px solid #fff;
	  background: #0082c5;
	  border-radius: 3px;
	  font-weight: 600;
	  @media(max-width: 570px) {
		margin-top: 20px;
	  }
	  i {
		margin-left: 5px;
	  }
	}
  }
}

.full-screen {
  &__contact {
	background: #191919;
	padding: 100px 0 215px 0;
	@media(max-width: 767px) {
	  padding: 30px 0 0 0;
		.container-fliud {
			width: 100%;
		}
	}
	//@media(max-width: 1024px) {
	//  padding: 45px 0 15px 0;
	//}
	.captcha {
	  display: flex;
	  align-items: center;
	  padding: 50px 15px 0 15px;
	  justify-content: space-between;
	  flex-flow: row wrap;
	  @media(max-width: 640px) {
		justify-content: center;
	  }
	}
	//.pp-tableCell {
	//  vertical-align: top !important;
	//}
	.head-tab {
	  text-align: center;
	  margin-bottom: 40px;
	  @media(max-width: 991px) {
		margin-bottom: 30px;
	  }
	  .nav-tabs {
		border: none;
	  }
	  ul {
		display: inline-block;
		li {
		  margin: 0 10px;
		  @media(max-width: 640px) {
			width: 100%;
			margin: 0;
		  }
		  a {
			font-size: 14px;
			text-transform: uppercase;
			color: #5e5e5e;
			font-weight: 600;
			border: none !important;
			border-bottom: 3px solid #5e5e5e !important;
			text-decoration: none;
			padding: 20px 80px;
			display: block;
			background:  none !important;
			@media(max-width: 480px) {
			  padding: 20px 20px;
			}
			&:hover {
			  background: none;
			  color: #0082c5;
			  border-bottom: 3px solid #0082c5;
			}
		  }
		  &.active {
			border: none;
			color: #0082c5;
			background:  none;
			a {
			  color: #fff;
			  border-bottom: 3px solid #0082c5 !important;
			}
			&:hover {
			  border: none !important;
			}
		  }
		}
	  }
	}
	.tab-content {
	  width: 100%;
	  max-width: 1170px;
	  margin: 0 auto;
	  .main-box {
		display: flex;
		justify-content:center;
		align-items: center;
		flex-flow: row wrap;
		min-height: 430px;
		width: 1000px;
		.item {
		  position: relative;
		  display: inline-block;
		  vertical-align: middle;
		  text-align: center;
		  padding-bottom: 38px;
		  width: 33%;
		  margin-bottom: 20px;
		  min-height: 286px;
		  @media(max-width: 991px) {
			min-height: 227px;
			width: 370px;
		  }
		  @media(max-width: 767px) {
			width: 270px;
		  }

			.icon {
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  margin-bottom: 29px;
			  min-height: 100px;
			  i {
				font-size: 33px;
				color: #fff;
			  }
			}
		  .footer-btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: inline-block;
			background: #237ac6;
			color: #fff;
			border: 2px solid #fff;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px ;
			border-radius: 3px;
			font-size: 14px;
			font-weight: 600;
			padding: 8px 15px;
			margin-top: 20px;
			transition: all 0.3s;
			&:hover {
			  background: #1884e2;
			}
		  }
		  .title-box {
			text-align: center;
			font-size: 14px;
			color: #fff;
			font-weight: 600;
			text-transform:  uppercase;
			margin-bottom: 15px;
		  }
		}
	  }
	  .text-box {
		color: #cccccc;
		font-weight: 600;
		line-height: 24px;
		font-size: 14px;
		text-align: center;
		a {
		  color: #fff;
		}
	  }
	  .box-contact {
		min-height: auto;
	  }
	  .title-tab {
		font-size: 34px;
		text-align: center;
		color: #fff;
		padding: 0 15px;
		margin-bottom: 25px;
		line-height: 35px;
		@media(max-height: 800px) {
		  margin-bottom: 15px;
		}
	  }
	  .sub-txet-tab {
		font-size: 18px;
		text-align: center;
		color: #fff;
		padding: 0 15px;
		margin-bottom: 15px;
		line-height: 25px;
		&:last-child {
		  margin-bottom: 0;
		}
	  }
	  .form {
		max-width: 800px;
		margin: 0 auto;
		padding: 15px 15px 0 15px;
		.form-group {
			margin-bottom: 30px;
		  	position: relative;
		}
		.text-danger {
		  color: #a94442;
		  position: absolute;
		  bottom: -27px;
		  font-size: 14px;
		  left:0;

		}
		input {
		  margin-bottom: 20px;
		  background:  none;
		  font-size: 15px;
		  color: #fff;
		  border: none;
		  height: 40px;
		  padding: 10px 15px;
		  -webkit-border-radius: 0;
		  -moz-border-radius: 0;
		  border-radius:0 ;
		  outline:none;
		  border-bottom: 1px solid #fff;
		  font-weight: 600;
		  &:focus {
			box-shadow:  none;
		  }
		}
		textarea {
		  background:  none;
		  outline:none;
		  min-height: 40px;
		  width: 100%;
		  resize: vertical;
		  font-size: 15px;
		  color: #fff;
		  border: none;
		  //height: 74px;
		  padding: 10px 15px;
		  -webkit-border-radius: 0;
		  -moz-border-radius: 0;
		  border-radius:0 ;
		  border-bottom: 1px solid #fff;
		  font-weight: 600;
		}
		.button {
		  text-align: center;
		  @media(max-width: 640px) {
			margin-top: 31px;
		  }
		}
		.btn-submit {
		  display: inline-block;
		  font-size: 15px;
		  text-transform: uppercase;
		  color: #fff;
		  padding: 13px 25px;
		  border:2px solid #fff;
		  background: #0082c5;
		  border-radius: 3px;
		  font-weight: 600;

                  i {
                      margin-left: 5px;
                  }
		}
	  }
	}
  }
}
.contact-page {
  min-height: 100vh;
  position: relative;
  padding: 0 0 100px 0;
  @media(max-width: 991px) {
	padding: 0;
  }
  .contact1 {
	margin-top: 74px;
  }
  .main-box {
	min-height: inherit !important;
  }
  .head-tab {
	margin-bottom: 30px;
  }
  .icon {
	margin-bottom: 20px !important;
  }
  .item {
	min-height: 246px;
  }
}
.slider-head {
  .carousel-inner {
	@media(max-width: 480px) {
	  max-height: 280px;
	}
  }
  .title-slide {
	position: absolute;
	font-size: 60px;
	color: #fff;
	left: 50%;
	top: 50%;
	font-weight: 300;
	transform: translateX(-50%) translateY(-50%);
	@media(max-width: 991px) {
	  font-size: 40px;
	}
  }
  .item {
	max-height: 350px;
	@media (max-width: 640px) {
	  max-height: 310px;
	}
	img {
	  min-height: 288px;
	  max-height: 350px;
	  width: 100%;
	  object-fit: cover;
	  &.img-london {
		object-fit: inherit;
	  }
	}
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.login-page__modal-login {
		width: 760px;
	}
}
.test #pp-nav { display:none !important; }
.captcha {

	.form-group-captcha {
		position: relative;
	}
}