//HOME-SCREEN
@keyframes anim {
	from {
	  bottom: -25px;
	}
	to {
	  bottom: -32px;
	}
}
.text.bounceInRight {
  animation-duration: 0.5s;
}
.full-screen {
	&__slide1 {
	  padding: 100px 150px 15px 50px !important;
	  background: url("../img/landing-page/slide.jpg") no-repeat;
	  background-size: cover;
	  @media(max-width: 1024px) {
		padding: 100px  15px 140px 15px !important;
	  }
	  .arrow {
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 50px;
		&:after {
		  position: absolute;
		  animation-name: anim;
		  animation-iteration-count: infinite;
		  animation-duration: 0.5s;
		  animation-direction:alternate;
		  color: #fff;
		  font:normal normal normal 14px/1 FontAwesome;
		  border-radius: 50%;
		  font-size: 20px;
		  content: "\f078";
		  bottom: -25px;
		  left: 10px;
		}
		img {
		  position: relative;
		}
	  }
	  .content-slide {

		.title {
		  font-size: 55px;
		  line-height: 63px;
		  color: #fff;
		  padding: 10px;
		  display: inline-block;
		  font-weight: 300;
		  span {
			background: rgba(0, 0, 0, 0.5);
			display: inline-block;
			margin: 0 0 10px 2px;
			padding: 5px 15px;
			@media(max-width: 991px) {
			  display: inline;
			  padding: 5px 0;
			  margin: 0;
			}
		  }
		  @media(max-width: 991px) {
			font-size: 30px;
			line-height:40px;
		  }
		}
		.btn-screen {
		  cursor: pointer;
		  transition: background 0.3s;
		  padding: 10px 15px;
		  border: 2px solid #fff;
		  outline: none;
		  font-size: 14px;
		  font-weight: 700;
		  display: inline-block;
		  color: #fff;
		  text-transform: uppercase;
		  background: #03baf4;
		  position: relative;

		  &:hover {
			background: #1980a1;
		  }
		}
	  }
	}
  &__navSlider {
	position: fixed;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);

  }
}
#pp-nav {
  li {
	span {
	  position: relative;
	  margin: 15px 0 !important;;
	  width: 17px;
	  display: block;
	  height: 17px;
	  background: none;
	  transition: all 0.3s;
	  border: 2px solid #fff !important;
	  border-radius: 50%;
	}
	&.active a span {
	  background: #fff !important;;
	}
  }
}
#pp-nav li .active span, .pp-slidesNav .active span {
  background: #fff !important;
}
