Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.your-battery.com.ua$ [NC]
RewriteRule ^(.*)$ http://your-battery.com.ua/awstats/$1 [R=301,L]
