.modal.in {
  padding-right: 15px;
  display: block;
  background: rgba(0,0,0,0.4);
}
.modal {
  .modal-content {
    padding:0 15px;
    @media(max-width: 480px) {
      padding: 0;
    }
  }
  .close {
    color: #676a6c;
    opacity: 1;
  }
  .modal-head {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    padding: 15px;
    .modal-title {
      font-size: 24px;
      font-weight: 400;
      @media(max-width: 767px) {
        font-size: 20px;
      }
    }
  }
  .modal_body {
    padding: 0 15px 15px 15px;
    .container-colums {
      .title-input {
        min-height: 25px;
      }
    }

    .element-input .time {
      border: none;
      position: absolute;
      right: 5px;
      top: 50%;
      background: none;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .icon {
        color: #1fb9f1;
        font-size: 20px;
      }
    }
    .text {
      text-align: center;
      font-size: 18px;
      margin-bottom: 5px;
      line-height: 32px;
      @media(max-width: 767px) {
        line-height: 28px;
        br {
          display: none;
        }
      }
      .bold {
        font-weight: bold;
        color: #4d4d4d;
      }
      .blue {
        color: $blue;
      }
    }
    .date {
      color: #4d4d4d;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
    }
    .sub-text  {
      font-size: 13px;
      text-align: center;
      margin-bottom: 20px;
      @media(max-width: 767px) {
        br {
          display: none;
        }
      }
    }
    .buttons {
      text-align: center;
      .modal-btn {
        display: inline-block;
        margin: 0 3px 15px;
        background: none;
        border-radius: 25px;
        border: 2px solid $blue;
        font-weight: bold;
        font-size: 14px;
        padding: 8px 25px;
        color: $blue;
        transition: all 0.3s;
        &.active {
          color: #fff;
          background: $blue;
        }
        &:hover {
          color: #fff;
          background: $blue;
        }
        &.disable {
          border-color: #d2f1fc;
          color: #d2f1fc;
          &:hover {
            background: none;
            color: #d2f1fc;
          }
        }
      }
    }
    .buttons-form {
      text-align: right;
      margin-bottom: 15px;
      .modal-btn {
        display: inline-block;
        margin: 0 3px;
        border: none;
        background: #dfe2eb;
        border-radius: 25px;
        font-weight: bold;
        font-size: 14px;
        padding: 8px 25px;
        color: #fff;
        transition: all 0.3s;
        @media(max-width: 767px) {
          padding: 5px 20px;
        }
        &.active {
          color: #fff;
          background: $blue;
        }
        &:hover {
          color: #fff;
          background: $blue;
        }
        &.disable {
          border-color: #d2f1fc;
          color: #d2f1fc;
          &:hover {
            background: none;
            color: #d2f1fc;
          }
        }
      }
    }
    .block-message {
      input[type='text'] {
        height: 40px;
        border-radius: 3px;
      }
      .title-form {
        font-weight: bold;
        font-size: 14px;
      }
      .string {
        position: relative;
        display: flex;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        .left {
          background: url("../../../assets/img/icon-message.png") no-repeat center center;
          display: inline-block;
          vertical-align: middle;
          width: 70px;
          height: 40px;
          border-right: 1px solid #e7e7e7;
        }
        .input-message {
          width: 100%;
          padding: 0 15px 0 15px;
          border: none;
          outline: none;
        }
        .navigation {
          display: flex;
          align-items: center;
          float: right;
          padding-right: 15px;
          a {
            margin: 0 5px;
            @media(max-width: 767px) {
              margin: 0 3px;
            }
            i {
              color: #b0b0b0;
              font-size: 15px;
              transition:  all 0.3s;
              @media(max-width: 767px) {
                font-size: 13px;
              }
            }
            &:hover {
              i {
                color: $blue;
              }
            }
            &.active {
              i {
                color: $blue;
              }
            }
          }
        }
      }
    }
    .comment {
      .input {
        margin-bottom: 25px;
        display: flex;
        border: 1px solid #d3d3d3;
        padding: 3px;
        border-radius: 3px;
        position: relative;
        .tag {
          flex:auto;
          border-radius: 25px;
          padding: 4px;
          display: inline-block;
          vertical-align: middle;
          background: #dfe2eb;
          .name {
            padding-left: 5px;
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
          }
          .btn-close {
            display: inline-block;
            vertical-align: middle;
            .close {
              display: flex;
              background: #fff;
              height: 20px;
              width: 20px;
              margin-left: 15px;
              border-radius: 50%;

              align-items: center;
              i {
                font-size: 12px;
                color: #dfe2eb;
                position: relative;
                left: 5px;
              }
            }
        }
          .avatar {
            display: inline-block;
            vertical-align: middle;
            img {
              width: 24px;
            }
          }
        }
        .block-input {
          width: 100%;
          flex: 90;
          display: inline-block;
          vertical-align: middle;
		  position: relative;
          .dropdown {
            display: none;
            position: absolute;
            left: 0;
            top: 39px;
            z-index:100;
            border-radius: 8px;
            background: #fff;
            box-shadow:0 0 20px -7px rgba(0,0,0,0.5);
            &.active {
              display: block;
            }
            .user {
              align-items: center;
              display: flex;
              min-width: 215px;
              padding: 10px 15px;
              border-bottom: 1px solid #f2f2f2;
                .img {
                  display: inline-block;
                  vertical-align: middle;
                }
              .user-text {
                display: inline-block;
                vertical-align: middle;
                padding-left: 12px;
              }
              .name {
                color: #a9a4a4;
              }
            }
          }
        }
        input {
          border: none;
        }
      }
      .comment-body {
        display: flex;
        .left-avatar {
          padding-right: 15px;
        }
        .content {
          width: 100%;
          .main-comment {
            background: #f7f7f7;
            padding: 10px 15px;
            border-radius: 5px 5px 5px 0;
            border-left: 4px solid $green;
            .comment-head {
              display: flex;
              justify-content: space-between;
              margin-bottom: 5px;
              .name {
                font-size: 13px;
                font-weight: bold;
                color: #4d4d4d;
                margin-bottom: 0 !important;
              }
              .date {
                font-size: 13px;
                color: #c4c4c4;
                font-weight: 300;
                margin-bottom: 0 !important;
              }
            }
            .comment-text {
              font-size: 13px;
              color: #4d4d4d;
            }
          }
          .footer-comment {
            border: 1px solid #e8e8e8;
            .string {
              border: none;
              border-top: 1px solid #e8e8e8;
            }
            .sub-comment {
              padding: 15px;
              display: flex;
              .avatar {
                padding-right: 15px;
              }
              .message {
                .name {
                  font-size: 13px;
                  font-weight: bold;
                  color: #4d4d4d;
                  margin-bottom: 0 !important;
                }
                .text-comment {
                  font-size: 13px;
                  color: #4d4d4d;
                }
              }
            }
          }
        }
      }
      .title-form {
        font-weight: bold;
        font-size: 14px;
      }
      .string {
        position: relative;
        display: flex;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        .left {
          background: url("../../../assets/img/icon-message.png") no-repeat center center;
          display: inline-block;
          vertical-align: middle;
          width: 70px;
          border-right: 1px solid #e7e7e7;

        }
        .input-message {
          width: 100%;
          padding: 0 15px 0 15px;
          border: none;
          outline: none;
          resize: vertical;
        }
        .textarea {
          width: 100%;
        }

        .textarea-message {
          width: 100%;
          padding: 35px 15px 5px 15px;
          border: none;
          outline: none;
          resize: vertical;
        }
        .navigation {
          display: flex;
          position: absolute;
          right: 0;
          top: 6px;
          align-items: center;
          float: right;
          padding-right: 15px;
          a {
            margin: 0 5px;
            @media(max-width: 767px) {
              margin: 0 3px;
            }
            i {
              color: #b0b0b0;
              font-size: 15px;
              transition:  all 0.3s;
              @media(max-width: 767px) {
                font-size: 13px;
              }
            }
            &:hover {
              i {
                color: $blue;
              }
            }
            &.active {
              i {
                color: $blue;
              }
            }
          }
        }
      }
    }
  }
  .modal-avatar  {
    text-align: center;
    margin-bottom: 5px;
    a {
      display: inline-block;
    }
  }
}
.modal-request {
  .label-title {
    .title-input {
      font-size: 14px;
      span {
        font-weight: 400;
      }
    }
  }
  .dropdown-row .dropdown-toggle {
    font-size: 13px;
    font-weight: 400;
  }
  .itemInput .input {
    font-size: 13px;
    font-weight: 400;
  }
}