<div class="footer">
    <a href="#" class="footer_logo">
        <img src="../web/img/footer-logo.png" alt="">
    </a>
    <div class="footer_nav">
        <a href="#">Blog</a>
        <a href="#">Privacy Policy </a>
        <a href="#">Terms of use</a>
        <a href="#">Contact Us</a>
        <a href="#">Help</a>
    </div>
    <div class="footer_right">
        <div class="footer_social">
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="footer_rights">
            (c) Courserooms.com 2016
        </div>
    </div>
</div>
