<div class="asides-layout_left" id="leftNav">
    <span class="close-sidebar-left">
        <i class="fa fa-times"></i>
    </span>
    <!-- sidebar menu item -->
    <div class="nav-item">
        <a href="#">Development</a>
        <div class="nav-item_dropdown">
            <a href="#">
                Web Design
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                Graphic Design
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                Design Tools
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                User Expirience
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
        </div>
    </div><!--./sidebar menu item -->
    <!-- sidebar menu item -->
    <div class="nav-item">
        <a href="#">Business</a>
        <div class="nav-item_dropdown">
            <a href="#">
                Web Design
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                Graphic Design
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                Design Tools
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                User Expirience
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
        </div>
    </div><!--./sidebar menu item -->
    <!-- sidebar menu item -->
    <div class="nav-item">
        <a href="#">IT Software</a>
        <div class="nav-item_dropdown">
            <a href="#">
                Web Design
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                Graphic Design
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                Design Tools
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
            <a href="#">
                User Expirience
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </a>
        </div>
    </div><!--./sidebar menu item -->
    <!-- sidebar menu item -->
    <div class="nav-item">
        <a href="#">IT Software</a>
    </div><!--./sidebar menu item -->
</div>
