<div class="asides-layout_right">
    <a href="#" class="aside-btn"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    <div class="block-content">
        <div class="images">
            <img src="../web/img/icon_lamp.png" alt="">
        </div>
        <p class="title-block">Web Design</p>
        <div class="text">
            <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites. </p>
        </div>
    </div>
    <div class="block-content">
        <div class="images">
            <img src="../web/img/icon-sidebar-2.png" alt="">
        </div>
        <p class="title-block">Salary stats</p>
        <div class="block-max-min">
            <div class="max">
                <i class="top-arrow"></i>
                <div class="text-max-block">
                    <p>MAXIMUM <br><span>£ 57,500</span></p>
                </div>
            </div>
            <div class="min">
                <i class="bottom-arrow"></i>
                <div class="text-min-block">
                    <p>MINIMUM <br><span>£ 57,500</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content border">
        <div class="images">
            <img src="../web/img/icon3.png" alt="">
        </div>
        <p class="title-block border">Vacancies</p>
        <p class="text-color">Associate Web Designer <br> <span>Yardi Systems, Inc.</span></p>
        <p class="text-color">Web Designer <br> <span>Saint Joseph's University.</span></p>
        <p class="text-color">Jr. Web Designer <br> <span>J.Crew Group, Inc.</span></p>
    </div>
</div>
