body {
  background: #ccc; }

body {
  background: #ccc; }

body {
  background: #ccc; }

body {
  background: #ccc; }

body {
  background: #ccc;
  color: red; }

.main {
  color: red;
  border-radius: 3px; }
