<div class="profile-section">
    <div class="container container-small">
        <h1 class="profile-section_title">
            Add course
        </h1>
        <div class="profile-section_white">

            <!-- Create congratulations -->
            <div class="group congratulations-group">
                <h2>Thank you for sending a course</h2>
                <p>We will add it to website as soon as possible. You will get <br/>
                    a notification from us once it's published. </p>
                <a data-ui-sref="root.course.create" class="btn btn-green">Upload another course</a>
            </div><!--./create congratulations -->
        </div>
    </div>
</div>