<!DOCTYPE html>
<html lang="">
    <head>
        <title>{%= o.webpackConfig.metadata.title %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{%= o.webpackConfig.metadata.title %}">
        <!-- FONTS -->
        <link href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

        <base href="{%= o.webpackConfig.metadata.baseUrl %}">

        <link href="{%= o.webpackConfig.metadata.baseUrl %}css/vendor.css.css" rel="stylesheet">
        {% for (var css in o.htmlWebpackPlugin.files.css) { %}
        <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
        {% } %}
    </head>
    <body>
    <toaster-container toaster-options="{'body-output-type': 'trustedHtml'}"></toaster-container>
    <header data-ui-view="header"></header>
    <div data-ui-view data-autoscroll="true"></div>
    <footer data-ui-view="footer"></footer>

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%= o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
</body>
</html>
