/* COLORS */
$white: #fff;

$green: #22baa0;

$black: #494949;

/* FONTS */
/*
Fonts:
font-family: 'Cabin', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lato', sans-serif;

*/
$cabin: 'Cabin', sans-serif;
$source: 'Source Sans Pro', sans-serif;
$lato: 'Lato', sans-serif;
