/****************************/
/*  BASE STYLES  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

html, body {
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }

a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

body {
  background: #fdfff9;
  font-family: 'Open Sans', sans-serif; }

/*****************************/
/*  LAYOUT */
/*-----HEADER-----*/
.header {
  min-height: 150px;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -ms-flex-align: center;
      align-items: center; }
  .header .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 767px) {
      .header .row {
        display: block;
        text-align: center; } }
    .header .row > [class^='col'] {
      float: none;
      display: inline-block;
      vertical-align: middle; }
  .header .logo {
    max-width: 82%; }
    @media (max-width: 1200px) {
      .header .logo {
        max-width: 100%; } }
    @media (max-width: 767px) {
      .header .logo {
        max-width: 50%; } }
    @media (max-width: 480px) {
      .header .logo {
        max-width: 60%; } }
  .header .block-info {
    text-align: right;
    vertical-align: middle;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin-bottom: 30px; }
    @media (max-width: 991px) {
      .header .block-info {
        display: block;
        margin-bottom: 0px; } }
    .header .block-info_button {
      margin-right: 30px; }
      @media (max-width: 1200px) {
        .header .block-info_button {
          margin-right: 15px; } }
      @media (max-width: 991px) {
        .header .block-info_button {
          margin-bottom: 10px;
          margin-right: 0px; } }
      .header .block-info_button a {
        font-size: 15px;
        color: #fff;
        display: inline-block;
        padding: 12px 15px;
        font-weight: bold;
        background: #f47d18; }
    .header .block-info_info {
      display: inline-block;
      vertical-align: middle;
      max-width: 750px; }
      .header .block-info_info p {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
        color: #6b6b6b;
        padding-left: 13px;
        margin-left: 13px;
        border-left: 3px solid #7d7e7b; }
        .header .block-info_info p:first-child {
          padding: 0;
          margin: 0;
          border: none; }
  .header .menu {
    position: relative; }
    .header .menu .nav {
      /*display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;*/ }
      @media (max-width: 991px) {
        .header .menu .nav ul {
          padding: 15px; } }
      .header .menu .nav ul li {
        float: left; }
        @media (max-width: 991px) {
          .header .menu .nav ul li {
            width: 100%;
            float: none;
            text-align: center; } }
        .header .menu .nav ul li a {
          display: inline-block;
          vertical-align: middle;
          font-size: 17px;
          color: #6b6b6b;
          text-transform: uppercase;
          padding-bottom: 8px;
          margin-left: 24px;
          border-bottom: 3px solid #ff9e47; }
          @media (max-width: 1200px) {
            .header .menu .nav ul li a {
              margin-left: 16px; } }
          @media (max-width: 991px) {
            .header .menu .nav ul li a {
              margin: 8px 0;
              font-size: 15px; } }
  .header .navbar-toggle {
    display: none;
    background: #dddddd; }
    .header .navbar-toggle .icon-bar {
      background-color: #333; }

.collapse {
  display: block; }

@media (max-width: 991px) {
  .collapse {
    display: none; }
  .header .navbar-toggle {
    display: block; }
  .header .menu .nav {
    position: absolute;
    width: 100%;
    top: 50px;
    z-index: 100;
    background: #e6e6e6;
    min-width: 100%;
    left: 0; }
  .header .menu .nav.collapse.in {
    display: block; }
  .header .block-info_info p {
    border: none; } }

@media (max-width: 767px) {
  .header .menu .nav {
    top: 5px; }
  .navbar-toggle {
    margin: 3px 0 0 0; }
  .header .navbar-toggle {
    display: block;
    position: absolute;
    right: 8px;
    top: 8px; }
  .header .block-info {
    text-align: center;
    padding: 10px 0; }
  .header .block-info_info p {
    margin: 5px 0; }
  .header .block-info_button a {
    font-weight: normal;
    padding: 10px; } }

/*---CONTENT---*/
.testing {
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.38) inset;
  background: #d5f0fc;
  padding: 30px 0; }
  .testing .sub-container {
    max-width: 1300px;
    margin: 0 auto; }
    .testing .sub-container .row {
      margin: 0; }
      .testing .sub-container .row h2 {
        text-transform: uppercase;
        font-size: 23px;
        color: #656565;
        text-align: center;
        font-weight: 600;
        margin-bottom: 32px; }
        @media (max-width: 767px) {
          .testing .sub-container .row h2 {
            font-size: 18px; } }
      .testing .sub-container .row .item-box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
        .testing .sub-container .row .item-box .box {
          width: 14%;
          padding: 0 20px;
          margin-bottom: 20px; }
          @media (max-width: 991px) {
            .testing .sub-container .row .item-box .box {
              width: auto; } }
          @media (max-width: 480px) {
            .testing .sub-container .row .item-box .box {
              padding: 0 30px; } }
          .testing .sub-container .row .item-box .box .img {
            width: 80px;
            height: 80px;
            display: -ms-flexbox;
            display: flex;
            margin: 0 auto 15px auto;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center;
            background-color: #0096d5;
            box-shadow: inset 1px 1px 10px rgba(0, 144, 205, 0.65);
            border-radius: 50%; }
            @media (max-width: 480px) {
              .testing .sub-container .row .item-box .box .img {
                width: 85px;
                height: 85px; } }
            .testing .sub-container .row .item-box .box .img img {
              max-width: 36px; }
          .testing .sub-container .row .item-box .box p {
            text-align: center;
            font-size: 17px;
            color: #656565;
            line-height: 1.3; }

.testing2 {
  background: #fee5c9;
  padding: 30px 0;
  box-shadow: 0 8px 9px -5px rgba(0, 0, 0, 0.38) inset; }
  .testing2 .sub-container {
    max-width: 1001px;
    margin: 0 auto; }
    .testing2 .sub-container .row {
      margin: 0; }
      .testing2 .sub-container .row h2 {
        text-transform: uppercase;
        font-size: 23px;
        color: #656565;
        text-align: center;
        font-weight: 600;
        margin-bottom: 32px; }
        @media (max-width: 767px) {
          .testing2 .sub-container .row h2 {
            font-size: 18px; } }
      .testing2 .sub-container .row .item-box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
        .testing2 .sub-container .row .item-box .box {
          padding: 0 33px;
          margin-bottom: 30px; }
          .testing2 .sub-container .row .item-box .box .img {
            width: 80px;
            height: 80px;
            display: -ms-flexbox;
            display: flex;
            margin: 0 auto 15px auto;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center;
            background-color: #f27917;
            box-shadow: inset 1px 1px 18px rgba(217, 113, 22, 0.33);
            border-radius: 50%; }
            @media (max-width: 480px) {
              .testing2 .sub-container .row .item-box .box .img {
                width: 85px;
                height: 85px; } }
            .testing2 .sub-container .row .item-box .box .img img {
              max-width: 27px; }
          .testing2 .sub-container .row .item-box .box p {
            text-align: center;
            font-size: 17px;
            color: #656565;
            line-height: 1.3; }

/*FOOTER*/
.footer {
  background: #0391b4;
  padding: 15px 0 30px 0; }
  .footer .row {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-flow: wrap row;
        flex-flow: wrap row; }
    @media (max-width: 991px) {
      .footer .row .box {
        padding: 0 25px;
        margin-bottom: 15px; } }
    @media (max-width: 768px) {
      .footer .row .box {
        padding: 0 25px;
        width: 33.3%;
        margin-bottom: 15px; } }
    @media (max-width: 640px) {
      .footer .row .box {
        width: 50%; } }
    @media (max-width: 480px) {
      .footer .row .box {
        width: 100%;
        text-align: center; } }
  .footer_footer-logo {
    display: block;
    margin-bottom: 15px; }
    .footer_footer-logo img {
      display: block;
      margin: 0 auto;
      max-width: 156px; }
  .footer_address {
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 15px; }
  .footer_phone p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 1.3; }
  .footer_title-col {
    font-size: 19px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0 20px 0; }
    @media (max-width: 480px) {
      .footer_title-col {
        margin: 10px 0 10px 0; } }
  .footer ul li a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    margin: 3px 0;
    text-transform: none; }
  .footer ul li img {
    isplay: inline-block;
    vertical-align: middle;
    margin-right: 10px; }
  .footer .social li {
    margin-bottom: 10px; }
  .footer .last-list {
    margin-top: 60px; }
    @media (max-width: 480px) {
      .footer .last-list {
        margin-top: 0; } }

/*sub-footer*/
.sub-footer {
  background: #fff;
  padding: 20px 0; }
  .sub-footer .wrap {
    max-width: 700px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-flow: wrap row;
        flex-flow: wrap row; }
    .sub-footer .wrap a {
      color: #333;
      font-size: 12px;
      display: inline-block; }
      @media (max-width: 991px) {
        .sub-footer .wrap a {
          margin-bottom: 15px; } }

.copyright {
  padding: 20px 0;
  background: #ececec; }
  .copyright .wrap {
    max-width: 1000px;
    margin: 0 auto; }
    .copyright .wrap p {
      color: #656565;
      font-size: 12px; }

/*MEDIA HEADER*/
/* END MEDIA HEADER*/
/*-----------MODULES------------*/
.sub-header {
  background: #00a0d2 url("../../dist/img/image.jpg") no-repeat center 100%;
  background-size: cover;
  min-height: 379px; }

.sub-header .left-img {
  height: 380px;
  background: url("../../dist/img/people.png") no-repeat left bottom;
  background-size: 84%; }

@media (max-width: 991px) {
  .sub-header .left-img {
    /*height: 300px;*/
    background: url("../../dist/img/people.png") no-repeat center bottom;
    background-size: 67%; } }

@media (max-width: 640px) {
  .sub-header .left-img {
    background: url("../../dist/img/people.png") no-repeat center bottom;
    height: 293px;
    background-size: 68%; } }

@media (max-width: 480px) {
  .sub-header .left-img {
    height: 183px; } }

.sub-header .left-block-image {
  /* position: relative;
  top: 0px;
  max-width:  100%;*/ }

.sub-header .body {
  float: right;
  padding: 45px 0; }

@media (max-width: 991px) {
  .sub-header .body {
    width: 100%; } }

.sub-header .body h1 {
  text-align: right;
  font-size: 42px;
  color: #fff;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #0a001f;
  font-weight: 600; }

@media (max-width: 1200px) {
  .sub-header .body h1 {
    font-size: 36px; } }

@media (max-width: 991px) {
  .sub-header .body h1 {
    text-align: center; } }

@media (max-width: 480px) {
  .sub-header .body h1 {
    font-size: 21px; } }

.sub-header .body_content {
  margin: 0 0 30px 0; }

.sub-header .body_content .title {
  float: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  border-top: 4px dashed #ff851a;
  border-bottom: 4px dashed #ff851a;
  width: 98%;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 991px) {
  .sub-header .body_content .title {
    float: none;
    width: 58%;
    margin: 0 auto; } }

@media (max-width: 480px) {
  .sub-header .body_content .title {
    width: 100%; } }

.sub-header .body_content .title .block-img {
  padding-left: 29px; }

@media (max-width: 480px) {
  .sub-header .body_content .title .block-img {
    padding-left: 0; } }

.sub-header .body_content .title .block-img img {
  max-width: 100%; }

.sub-header .body_content .title h2 {
  font-size: 30px;
  color: #626262;
  line-height: 1.2; }

@media (max-width: 1200px) {
  .sub-header .body_content .title h2 {
    font-size: 24px; } }

@media (max-width: 480px) {
  .sub-header .body_content .title h2 {
    font-size: 16px; } }

.sub-header .body_phone {
  margin: 0 0 0 15px;
  padding-left: 38px;
  background: url("../../dist/img/cell.png") no-repeat left center; }

@media (max-width: 1200px) {
  .sub-header .body_phone {
    float: right; } }

@media (max-width: 991px) {
  .sub-header .body_phone {
    float: none;
    max-width: 269px;
    margin: 0 auto; } }

.sub-header .body_phone p {
  font-size: 30px;
  color: #ff851a;
  line-height: 1.2;
  font-weight: bold; }

@media (max-width: 480px) {
  .sub-header .body_phone p {
    text-align: center;
    font-size: 25px; } }

.position {
  padding: 22px 0 38px 0px;
  position: relative;
  box-shadow: 0 10px 9px -5px rgba(0, 0, 0, 0.38) inset;
  /*background: url("../../../dist/img/shadow.png") no-repeat center bottom*/
  /* &:after {
    width: 500px;
    height: 20px;
    content: '';
    bottom: 0;
    position: absolute;
    left: 50%;
    background: url("../../../dist/img/shadow.png") no-repeat center bottom;
  }*/ }
  .position .sub-container {
    max-width: 1300px;
    margin: 0 auto; }
    .position .sub-container .row {
      margin: 0; }
    .position .sub-container h2 {
      font-size: 23px;
      color: #656565;
      text-align: center;
      font-weight: 600;
      margin-bottom: 32px; }
      @media (max-width: 767px) {
        .position .sub-container h2 {
          font-size: 18px; } }
    .position .sub-container .list-position ul li {
      width: 19%;
      float: left;
      margin: 0 5px 20px 5px;
      background-color: #0096d5;
      border-radius: 6px;
      display: -ms-flexbox;
      display: flex;
      height: 40px;
      padding-left: 10px;
      -ms-flex-align: center;
          align-items: center;
      /*padding: 12px 10px 12px 40px;*/
      box-shadow: 1px 1px 10px rgba(0, 144, 205, 0.65) inset; }
      @media (max-width: 1060px) {
        .position .sub-container .list-position ul li {
          width: 24%;
          margin: 0 0.5% 20px 0.5%; } }
      @media (max-width: 768px) {
        .position .sub-container .list-position ul li {
          width: 32.3%;
          margin: 0 0.5% 20px 0.5%; } }
      @media (max-width: 640px) {
        .position .sub-container .list-position ul li {
          width: 48.3%;
          margin: 0 0.5% 20px 0.5%; } }
      @media (max-width: 400px) {
        .position .sub-container .list-position ul li {
          width: 99%;
          margin: 0 0.5% 20px 0.5%; } }
      .position .sub-container .list-position ul li img {
        display: inline-block;
        margin-right: 10px;
        max-width: 18px; }
      .position .sub-container .list-position ul li a {
        color: #fff;
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        font-family: 'Roboto', sans-serif; }
        @media (max-width: 768px) {
          .position .sub-container .list-position ul li a {
            font-size: 15px; } }
      .position .sub-container .list-position ul li:nth-child(even) {
        background: #f47b18; }
      .position .sub-container .list-position ul li .icon1 {
        background: #0096d5 url("../../../dist/img/icon1.png") no-repeat 12px 47%;
        background-size: 8%; }
      .position .sub-container .list-position ul li .icon2 {
        background: #0096d5 url("../../../dist/img/icon1.png") no-repeat 8px 47%;
        background-size: 8%; }

/**services*/
.services {
  padding: 30px 0; }
  .services .sub-container {
    max-width: 1300px;
    margin: 0 auto; }
    .services .sub-container .row {
      margin: 0; }
      .services .sub-container .row h2 {
        text-transform: uppercase;
        font-size: 23px;
        color: #656565;
        text-align: center;
        font-weight: 600;
        margin-bottom: 32px; }
        @media (max-width: 767px) {
          .services .sub-container .row h2 {
            font-size: 18px; } }
      .services .sub-container .row .item-box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
        .services .sub-container .row .item-box_box {
          text-align: center; }
          @media (max-width: 991px) {
            .services .sub-container .row .item-box_box {
              margin-bottom: 25px; } }
          .services .sub-container .row .item-box_box .img {
            box-shadow: inset 1px 1px 10px rgba(0, 144, 205, 0.65);
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 50%;
            background: #0096d5;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center;
            -ms-flex-pack: center;
                justify-content: center; }
          .services .sub-container .row .item-box_box h3 {
            margin: 13px 0 10px 0;
            font-weight: 600;
            font-size: 17px;
            color: #0096d5;
            text-transform: uppercase;
            text-align: center; }
          .services .sub-container .row .item-box_box p {
            font-size: 12px;
            color: #656565;
            text-align: center; }

/* SLIDER */
.slider {
  background: #d5f6ff url("../../../dist/img/bg-slider.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0 50px 0; }
  .slider .slider-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px; }
    @media (max-width: 1024px) {
      .slider .slider-section {
        padding: 0 100px; } }
    @media (max-width: 767px) {
      .slider .slider-section {
        padding: 0 45px; } }
  .slider h2 {
    text-transform: uppercase;
    font-size: 23px;
    color: #656565;
    text-align: center;
    font-weight: 600;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .slider h2 {
        font-size: 18px; } }
  .slider .carousel {
    box-shadow: none; }
    .slider .carousel .carousel-inner {
      box-shadow: none; }
      .slider .carousel .carousel-inner .item {
        background: #fff;
        border: 3px solid #b5d4db;
        padding: 22px 36px;
        box-shadow: 0 4px 12px -3px rgba(0, 0, 0, 0.38) inset, 0 -4px 12px -3px rgba(0, 0, 0, 0.38) inset; }
        .slider .carousel .carousel-inner .item .name {
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 10px; }
        .slider .carousel .carousel-inner .item .text {
          font-size: 12px;
          line-height: 1.3; }
  .slider a {
    background: none;
    top: 50%;
    margin-top: -50px;
    height: 157px; }
  .slider a.left {
    background: url("../../../dist/img/left-arrow.png") no-repeat center center; }
  .slider a.right {
    background: url("../../../dist/img/right-arrow.png") no-repeat center center; }

/*  MAP */
.map {
  position: relative; }
  .map h3 {
    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    color: #fff;
    text-align: center;
    border-bottom: 3px dashed #fff;
    padding-bottom: 4px;
    text-transform: uppercase;
    margin-left: -84px; }
  .map .overlay {
    background: rgba(3, 145, 180, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1; }
  .map > div {
    height: 120px;
    width: 100% !important; }
    .map > div #gmap_canvas {
      width: 100% !important;
      height: 120px; }
