<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report-list</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link href="/angular/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/angular/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="template/css/style.css" rel="stylesheet">
    <link href="/angular/web/css/main.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <nav class="sidebar navbar-default navbar-static-side" role="navigation">
        <div class="test sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element text-center" ui-sref="root.about" href="/about">
                        <img alt="image" src="/angular/web/img/logo-free.png">
                        <a href="#">
                            <span class="block m-t-xs">
                                <strong class="font-bold">KMap</strong>
                            </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="active">
                    <a href="#">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">Home</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Test</a></li>
                        <li><a href="#">Test</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                        <span class="nav-label">Roadblocks</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-sitemap"></i> <span class="nav-label">Anomalies</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li class="active"><a href="#">Anomalies</a></li>
                    </ul>
                </li>
                <li>
                    <a href="reports.html">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span class="nav-label">Reports</span>
                        <span class="fa arrow"></span>
                    </a>
                </li>
                <li>
                    <a href="metric.html">
                        <i class="fa fa-sitemap"></i>
                        <span class="nav-label">Metric</span>
                        <span class="fa arrow"></span>
                    </a>
                </li>
            </ul>
            <ul  class="nav bottom-nav js-fading-menu">
                <li ui-sref-active="active" ui-sref="root.settings" i-class="fa fa-cogs" class="ng-isolate-scope" href="/settings">
                    <a href="/settings" ui-sref="root.settings"><i class="fa fa-cogs"></i>
                        <span class="nav-label">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar white-bg site-navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                    <form role="search" class="navbar-form-custom ng-pristine ng-valid" >
                        <div class="form-group">
                            <input type="text" placeholder="Search..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-plus"></i>
                                <span class="bold text-uppercase">Quick add</span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/reports/add" ui-sref="root.report.add">Report</a></li>
                                <li class="disabled"><a href="#">Task</a></li>
                                <li><a href="#" ng-click="addMetric()">Metric</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="count-info" href="#" ng-click="$root.rightSidebar = !$root.rightSidebar">
                            <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <img alt="image" class="img-circle" src="/angular/assets/img/profile_small.jpg">
                        </a>
                    </li>
                    <li>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper">
            <div class="wrap-reports__head">
                <div class="wrap-reports__col">
                    <h1 class="wrap-reports__title"><i class="fa fa-angle-left left" aria-hidden="true"></i>All Reports</h1>
                    <h2 class="sub-title">Montly Sales Report</h2>
                </div>
                <div class="wrap-reports__col">
                    <div class="wrap-reports__calendar">
                        <a href="#">Day</a>
                        <a href="#">Week</a>
                        <a href="#" class="active">Month</a>
                        <a href="#">Quarter</a>
                        <a href="#">Year</a>
                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a>
                    </div> <!--./calendar-->
                    <div class="wrap-reports__filter">
                        <div class="list">
                            <button><i class="fa fa-th-large" aria-hidden="true"></i></button>
                            <button class="active"><i class="fa fa-list" aria-hidden="true"></i></button>
                        </div>
                        <button class="btn-new">New</button>
                        <form action="" class="select">
                            <select class="form-control">
                                <option value="">Filter by...</option>
                                <option value="">test</option>
                                <option value="">test</option>
                            </select>
                        </form>
                    </div> <!--./filter-->
                </div> <!--./col-->
            </div>
            <div class="createReports__body">
                <div class="reportList">
                    <div class="reportList__table">
                        <div class="reportList__head">
                            <div class="reportList__col">
                                <p class="title-col">Name</p>
                            </div>
                            <div class="reportList__col">
                                <p class="title-col">Owner</p>
                            </div>
                            <div class="reportList__col date">
                                <p class="title-col">Date</p>
                            </div>
                            <div class="reportList__col col-progress">
                                <p class="title-col">Progress</p>
                            </div>
                            <div class="reportList__col">
                                <p class="title-col">Actions</p>
                            </div>
                        </div>
                        <div class="reportList__string orange">
                            <div class="reportList__col">
                                <div class="reportList__info">
                                    <h3 class="reportList__text">November Sales report (2 year old)</h3>
                                </div>
                            </div>
                            <div class="reportList__col">
                               <div class="reportList__info">
                                   <div class="reportList__avatar">
                                       <img src="/angular/web/img/avatar.png" alt="">
                                   </div>
                                   <p class="reportList__text name">William Jackson </p>
                               </div>
                            </div>
                            <div class="reportList__col date">
                                <p class="reportList__text">dd/mm/yyyy</p>
                            </div>
                            <div class="reportList__col col-progress">
                                <div class="wrapper-admin__progress">
                                    <div class="line">
                                        <span style="width: 50%;" class="status"></span>
                                    </div>
                                    <div class="wrapper-admin__status-number">
                                        <p>18%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="reportList__col">
                                <p class="reportList__text">Open</p>
                            </div>
                        </div> <!--./string-->
                        <div class="reportList__string pink">
                            <div class="reportList__col">
                                <div class="reportList__info">
                                    <h3 class="reportList__text">November Sales report (2 year old)</h3>
                                </div>
                            </div>
                            <div class="reportList__col">
                                <div class="reportList__info">
                                    <div class="reportList__avatar">
                                        <img src="/angular/web/img/avatar.png" alt="">
                                    </div>
                                    <p class="reportList__text name">William Jackson </p>
                                </div>
                            </div>
                            <div class="reportList__col date">
                                <p class="reportList__text">dd/mm/yyyy</p>
                            </div>
                            <div class="reportList__col col-progress">
                                <div class="wrapper-admin__progress">
                                    <div class="line">
                                        <span style="width: 50%;" class="status"></span>
                                    </div>
                                    <div class="wrapper-admin__status-number">
                                        <p>18%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="reportList__col">
                                <p class="reportList__text"> Open</p>
                            </div>
                        </div> <!--./string-->
                        <div class="reportList__string  green">
                            <div class="reportList__col">
                                <div class="reportList__info">
                                    <h3 class="reportList__text">November Sales report (2 year old)</h3>
                                </div>
                            </div>
                            <div class="reportList__col">
                                <div class="reportList__info">
                                    <div class="reportList__avatar">
                                        <img src="/angular/web/img/avatar.png" alt="">
                                    </div>
                                    <p class="reportList__text name">William Jackson </p>
                                </div>
                            </div>
                            <div class="reportList__col date">
                                <p class="reportList__text">dd/mm/yyyy</p>
                            </div>
                            <div class="reportList__col col-progress">
                                <div class="wrapper-admin__progress">
                                    <div class="line">
                                        <span style="width: 50%;" class="status"></span>
                                    </div>
                                    <div class="wrapper-admin__status-number">
                                        <p>18%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="reportList__col">
                                <p class="reportList__text"> Open</p>
                            </div>
                        </div> <!--./string-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="/angular/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/angular/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/angular/assets/js/jquery.metisMenu.js"></script>
<script src="/angular/assets/js/jquery.slimscroll.min.js"></script>
<!--<script src="template/js/plugins/flot/jquery.flot.js"></script>-->
<!--<script src="template/js/plugins/flot/jquery.flot.tooltip.min.js"></script>-->
<!--<script src="template/js/plugins/flot/jquery.flot.resize.js"></script>-->
<!--<script src="template/js/plugins/flot/jquery.flot.pie.js"></script>-->
<!--<script src="template/js/plugins/flot/jquery.flot.time.js"></script>-->
<script src="/angular/app/custom/inspinia.js"></script>
<!--<script src="../assets/js/plugins/pace/pace.min.js"></script>-->

<!-- Flot demo data -->
<!--<script src="js/demo/flot-demo.js"></script>-->

</body>

</html>