.asides-layout {
    padding: 70px 0 30px;
    min-height: calc(100vh - 50px);
    transition: padding 0.2s linear;
    .close-sidebar-left{
        cursor: pointer;
        display: none;
        background: #1A8F7B;
        width: 25px;
        height: 25px;
        margin: 10px 0 10px 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        .fa{
            margin: 3px 0 0 5px;
            font-size: 18px;
            color: #fff;
        }
    }

    @media (max-width: 1600px) {
        padding-top: 110px;
    }
    @media (min-width: 1279px) {
        min-height: calc(100vh - 70px);
    }
    @media (max-width: 1280px) {
        padding-top: 90px;
    }
    &_nav {
        background: #393941;
        top: 0;
        min-height: 40px;
        position: absolute;
        left: 0;
        width: 100%;
        transition: top 0.2s linear;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        a {
            color: #d8d8d8;
            transition: all 0.2s linear;
            background: #5c5c5f;
            padding: 3px 15px 3px;
            border-radius: 18px;
            &.left {
                padding: 3px 0 3px 15px;
            }
            &.right {
                padding: 3px 15px 3px 0;
            }
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }t
            i {
                margin: 0 10px;
            }
            &:hover {
                background: $green;
                color: $white;
            }
        }
        @media (max-width: 1600px) {
            top: 70px;
        }
        @media (max-width: 1280px) {
            top: 50px;
        }
    }
    &_header {
        background: #f7f7f7;
        padding: 30px 0;
        margin: 0 0 28px;
        .title {
            font-family: $source;
            color: #4e5e6a;
            font-size: 24px;
            margin: 0 0 20px;
        }
        .submit-btn {
            font-size: 16px;
            font-family: $cabin;
            width: 100%;
            max-width: 160px;
        }
    }
    &_right {
        position: fixed;
        top: 0;
        right: 0;
        width: 220px;
        background: #4e5e6a;
        height: 100%;
        padding-top: 70px;
        z-index: 2;
        @media (max-width: 1600px) {
            transition: left 0.3s linear;
            right: -220px;
            &.active {
                left: 0;
            }
        }
        @media (max-width: 1280px) {
            padding-top: 50px;
        }
        .title {
            color: #f7f7f7;
            font-size: 21px;
            text-align: center;
        }
        .aside-btn {
            display: inline-block;
            width: 31px;
            height: 31px;
            color: #f7f7f7;
            transition: all 0.2s linear;
            background: #606e79;
            line-height: 30px;
            text-align: center;
            border-radius: 5px;
            font-size: 22px;
            position: absolute;
            right: 10px;
            top: 80px;
            @media (max-width: 1280px) {
                top: 60px;
            }
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
            &:hover {
                background: $green;
            }
        }
        .block-content{
            text-align: center;
            padding: 20px 30px;
            border-bottom: 1px solid #838f97;
            .images{
                text-align: center;
                img{
                    margin-bottom: 10px;
                    max-width: 100%;
                    display:  inline-block;
                }
            }
            .title-block{
                text-align: center;
                color: #f7f7f7;
                font-size: 21px;
                margin-bottom: 20px;
            }
            .text-color{
                text-align: left;
                color: #22baa0;
                font-size: 14px;
                font-weight: bold;
                span{
                    font-weight: normal;
                    color: #fff;
                    font-size: 14px;
                }
            }
            .text{

                p{
                    text-align: left;
                    color: #f7f7f7;
                    font-size: 13px;
                    line-height: 21px
                }
            }
            .block-max-min{
                display: inline-block;
                .max{
                    display: inline-block;
                    background: #5e707e;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    margin-bottom: 10px;
                    .top-arrow{
                        border-right: 1px solid #4e5e6a;
                        display: inline-block;
                        width: 50px;
                        height: 56px;
                        vertical-align: middle;
                        background: url("../img/top-arrow.png") no-repeat center center;
                    }
                    .text-max-block {
                        display: inline-block;
                        vertical-align: middle;
                        width: 105px;
                        p {
                            font-sipadding: 0 30px;
                            font-size: 18px;
                            color: #fff;
                            text-align: center;
                            margin: 0;
                            span {
                                font-weight: bold;
                                font-size: 17px;
                            }
                        }
                    }
                }
                .min {
                    display: inline-block;
                    background: #5e707e;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    .bottom-arrow {
                        border-right: 1px solid #4e5e6a;
                        display: inline-block;
                        width: 50px;
                        height: 56px;
                        vertical-align: middle;
                        background: url("../img/bottom-arrow.png") no-repeat center center;
                    }
                    .text-min-block {
                        width: 105px;
                        display: inline-block;
                        vertical-align: middle;
                        p{
                            font-size: 18px;
                            color: #fff;
                            text-align: center;
                            margin: 0;
                            span{
                                font-weight: bold;
                                font-size: 17px;
                            }
                        }
                    }
                }
            }

        }
        .border{border-bottom: none;}
    }
    &_left {
        position: fixed;
        top: 0;
        left: 0;
        width: 220px;
        background: #292933;
        height: 100%;
        padding-top: 70px;
        z-index: 2;
        @media (max-width: 1600px) {
            transition: left 0.3s linear;
            left: -220px;
            .close-sidebar-left{
                display: inline-block;
            }
            &.active {
                left: 0;
            }
        }
        @media (max-width: 1280px) {
            padding-top: 50px;
        }
        .nav-item {
            > a,
            > .link {
                color: $white;
                font-size: 15px;
                padding: 15px 20px;
                display: block;
                transition: background 0.2s linear, color 0.2s linear;
                border-bottom: 1px solid #131d27;
                background: #2e2e37;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                }
                &:hover,
                &.active {
                    background: #393941;
                    color: $green;
                    ~ .nav-item_dropdown {
                        display: block;
                    }
                }
            }
            &_dropdown {
                position: absolute;
                top: 0;
                left: 220px;
                width: 240px;
                background: #393941;
                height: 100%;
                padding: 70px 0 0;
                display: none;
                &:hover,
                &.active {
                    display: block;
                }
                > a {
                    display: block;
                    font-size: 14px;
                    color: #d8d8d8;
                    padding: 10px 20px;
                    border-bottom: 1px solid #2e2e37;
                    transition: color 0.2s linear;
                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                    }
                    &:hover {
                        color: $green;
                        span {
                            color: #d8d8d8;
                            display: block;
                        }
                    }
                    span {
                        display: none;
                        font-size: 13px;
                        padding: 5px 0 0;
                    }
                }
            }
        }
    }
}
