.reportList {
  position: relative;
  background-color: #fff;
  @media(max-width: 1024px) {
    overflow-x: auto;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .title {
      font-size: 26px;
      font-weight: 500;
      margin: 0;
      i {
        margin-right: 15px;
        color: #686868;
      }
    }
  }
  &__col {
    width: 20%;
    padding: 15px;
    &.date {
      width: 15%;
    }
    &.col-progress {
      width: 25%;
    }
    .title-col {
      font-size: 14px;
      color: $text-color;
      font-weight: 700;
    }
    .wrapper-admin__progress {
      padding: 0;
      .line {
        min-width: inherit;
      }
    }
    &.penultimate {
      width: 15%;
      text-align: center;
    }
    &:last-child {
      width: 15%;
      text-align: center;
    }
    &:first-child {
      width: 25%;
    }
  }
  &__info {
    display: flex;
    align-items:center;
  }
  .name {
    flex: 1;
  }
  &__avatar {
    width: 40px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    img {
      width: 32px;
      max-width:100%;
    }
  }
  &__text {
    font-size: 14px;
    color: $text-color;
    font-weight: 600;
    i {
      font-size: 18px;
      vertical-align: middle;
      color: $text-color;
    }
    &.blue {
      color: $blue;
    }
  }
  &__table {
    width: 100%;
    min-width: 754px;
  }
  &__string {
    transform: translateY(100%);
    opacity: 0;
    transition: transform .4s cubic-bezier(.4,0,.2,1), opacity .4s cubic-bezier(.5,0,.3,1);
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    &.orange {
      border-left: 3px solid $orange;
    }
    &.pink {
      border-left: 3px solid #f50962;
    }
    &.green {
      border-left: 3px solid #32d151;
    }
  }
  .loader {
    top: 100px;
  }
  &.loading {
    .loader {
      display: block;
    }
  }
}

.loader {
  display: none;
  position: absolute;
  left:50%;
  transform: translateY(-50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 100;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
