//wrapper
.layout
		//sidebar
		.container
				.layout__sidebar
						ul.nav-sidebar
								li
									a(href="") Test
				//content
				.layout__content
						//header
						header.content-header
								h1.layout__title Title
						.content-body
								//Post
								.post
										.post__picture
												img(src="http://oboitut.com/uploads/posts/oboitut.com_6734.jpg")
										.post__body
												.post__header
														h2.post__title Title post
												.post__content
														p.text Test post
								//Post
								.post
										.post__picture
												img(src="http://oboitut.com/uploads/posts/oboitut.com_6734.jpg")
										.post__body
												.post__header
														h2.post__title Title post
												.post__content
														p.text Test post
								//Post
								.post
										.post__picture
												img(src="http://oboitut.com/uploads/posts/oboitut.com_6734.jpg")
										.post__body
												.post__header
														h2.post__title Title post
												.post__content
														p.text Test post
								//Post
								.post
										.post__picture
												img(src="http://oboitut.com/uploads/posts/oboitut.com_6734.jpg")
										.post__body
												.post__header
														h2.post__title Title post
												.post__content
														p.text Test post