//header
header.header
	.container
					.col-left
							a(href='#').logo Logo
					.col-right
							//nav
							nav.header__nav
									ul
											li
													a(href='#') Home
											li
													a(href='#') Servises
											li
													a(href='#') Contact
							//nav
//section-nav
section.navigation
		.container
				.col-left
						nav.navigation__nav
							ul
								li
									a(href="") Home
								li
									a(href="") Servises
								li
									a(href="") Contract
				.col-right
						.search
								.search__input
